
:root {
    //COLORS
    --primary: rgba(66, 133, 244, 1);
    --primary-light: rgba(66, 133, 244, 0.25);
    --primary-lightest: rgba(66, 133, 244, 0.07);
    --primary-dark: rgba(66, 133, 244, 0.9);

    --secondary: #063970;

    --darkest: #252525;
    --darker: #424242;

    --dark-bkg: #767676;

    --white: #fff;
    --white-tint: rgba(255, 255, 255, 0.5);
    --white-tint-md: rgba(255, 255, 255, 0.7);

    --black-tint: rgba(0, 0, 0, 0.6);
    --black-tint-md: rgba(0, 0, 0, 0.3);
    --black-tint-mmd: rgba(0, 0, 0, 0.2);
    --black-tint-sm: rgba(0, 0, 0, 0.04);

    --grey-light-tint: rgba(164, 164, 176, 0.1);
    --grey-lighter-tint: #F9FAFE;

    --bkg-light: #FCFDFE;

    --border-black-lightest: rgba(0, 0, 0, 0.1);
    --border-grey-light: rgba(0, 0, 0, 0.1);
    --border-grey: #D1D3D6;


    --warning: #eb5757;
    --warning-light: rgba(235, 87, 87, 0.25);
    --warning-lightest: rgba(235, 87, 87, 0.1);
    --pending: #e5a647;
    --pending-light: rgba(229, 166, 71, 0.25);
    --pending-lightest: rgba(229, 166, 71, 0.1);
    --approved: #36ab68;
    --approved-light: rgba(54, 171, 104, 0.25);
    --approved-lightest: rgba(54, 171, 104, 0.1);
    --considered: rgb(255,132,0);
    --considered-light: rgba(235, 87, 87, 0.25);
    --adobe: #ed2224;
    --doc: #00a4ef;
    // --overlay-light: #62ADFF;
    --overlay-light: #66bcff;

    --hdr-height: 8vh;


    //BORDER RADIUS
    --radius-xs: 4px;
    --radius-sm: 5px;
    --radius-md: 6px;
    --radius-mmd: 12px;
    --radius-lg: 15px;
    --radius-xl: 18px;

    --card-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);


    //TRANSITIONS
    --transition-norm: all 0.4s ease;


    //PAGE CARD DIMENSIONS
    --card-xxl: 100%;
    --card-xlg: 69.4%;
    --card-xmlg: 64.4%;
    --card-xmmd: 49%;
    --card-xmd: 34%;
    --card-xsm: 29%;
    --card-xxs: 20%;

    --card-yxl: 100%;
    --card-ylg: 69%;
    --card-ymd: 49%;
    --card-ymmd: 31%;
    --card-ysm: 29%;
    --card-yxs: 23%;

    --tcard-ymd: 45.7%;
    --tcard-ysm: 29%;
    --tcard-yxs: 20%;
}
