<div class="header only-desktop">
    <div class="search-bar">
        <span class="icon"><i class="bi bi-search"></i></span>
        <input type="text" placeholder="Search for an employee by name, department or position">
    </div>

    <div class="user-actions">
        <span><i class="bi bi-bell"></i></span>
        <span><i class="bi bi-calendar"></i></span>
        <div class="user">
            <div class="info">
                <span>{{userName}}</span>
                <span class="text">{{userRole}}</span>
            </div>
            <div [matMenuTriggerFor]="accountOptions" *ngIf="profilePhoto" class="photo bkg-standard" style="background-image: url('{{profilePhoto}}');"></div>
            <div [matMenuTriggerFor]="accountOptions" *ngIf="!profilePhoto" class="initials flex-center">{{userName[0]}}{{userRole[0]}}</div>
            <mat-menu #accountOptions="matMenu" class="account-wrap">
                <div class="items-wrap">
                    <div (click)="logout()" class="item"><i class="bi bi-box-arrow-left"></i> <span>Logout</span></div>
                </div>
            </mat-menu>
        </div>
    </div>
</div>

<div class="header only-mobile">
    <div class="inner-wrap d-flex justify-content-between align-items-center">
        <div class="logo-wrap d-flex align-items-center">
            <div (click)="openMenu()" class="module-menu flex-center">
                <i class="bi bi-list"></i>
            </div>
            <img src="./assets/images/brand/silo-logo.svg" alt="silo-logo">
        </div>

        <div class="user-actions">
            <span><i class="bi bi-bell"></i></span>
            <span><i class="bi bi-calendar"></i></span>
            <div class="user">
                <div [matMenuTriggerFor]="accountMobOptions" *ngIf="profilePhoto" class="photo bkg-standard" style="background-image: url('{{profilePhoto}}');"></div>
                <div [matMenuTriggerFor]="accountMobOptions" *ngIf="!profilePhoto" class="initials flex-center">{{userName[0]}}{{userRole[0]}}</div>
                <mat-menu #accountMobOptions="matMenu" class="account-wrap">
                    <div class="items-wrap">
                        <div class="info">
                            <span>{{userName}}</span>
                            <span class="text">{{userRole}}</span>
                        </div>
                        
                        <div (click)="logout()" class="item"><i class="bi bi-box-arrow-left"></i> <span>Logout</span></div>
                    </div>
                </mat-menu>
            </div>
        </div>
    </div>
</div>

<div [class.opened]="sideModalOpened" class="sidenav-container only-mobile"> 
    <div (click)="sideModalOpened = !sideModalOpened" class="sidenav-bkg"></div> 
    <div [class.opened]="sideModalOpened" class="sidenav-content">
        <div (click)="sideModalOpened = false" class="close-btn">&times;</div>

        <div *ngIf="userDetails.data.isSuperAdmin" class="sub-nav-list">
            <div *ngFor="let item of adminMenuData" class="list-items">
                <ng-container *ngIf="currentLink == item.label">
                    <div class="list-header">{{item.label}}</div>
                    <ul class="list">
                        <li *ngFor="let link of item.subMenu">
                            <a [routerLink]="[link.routeLink]" routerLinkActive="active">
                                <i class="{{link.icon}}"></i>
                                <!-- <mat-icon class="material-icons-round">{{item.icon}}</mat-icon> -->
                                <span>{{link.label}}</span>
                            </a>
                        </li>

                        <!-- <li (click)="logout()" class="logout">
                            <i class="bi bi-box-arrow-left"></i>
                            <span>Logout</span>
                        </li> -->
                        <li></li>
                    </ul>
                </ng-container>
            </div>            
        </div>

        <div *ngIf="!userDetails.data.isSuperAdmin && !userDetails.data.isManager && userDetails.data.email != 'siloerp@silo-inc.com'" class="sub-nav-list">
            <div class="list-items">
                <ng-container>
                    <div class="list-header">General Menu</div>
                    <ul class="list">
                        <li *ngFor="let item of regMenuData" >
                            <a [routerLink]="[item.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                                <i class="{{item.icon}}"></i>
                                <!-- <mat-icon class="material-icons-round">{{item.icon}}</mat-icon> -->
                                <span>{{item.label}}</span>
                            </a>
                        </li>

                        <li (click)="logout()" class="logout">
                            <span>
                                <i class="bi bi-box-arrow-left"></i>
                            </span>
                            <span>Logout</span>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div> 
        
        <div *ngIf="!userDetails.data.isSuperAdmin && userDetails.data.isManager" class="sub-nav-list">
            <div class="list-items">
                <ng-container>
                    <div class="list-header">General Menu</div>
                    <ul class="list">
                        <li *ngFor="let item of managerMenuData" >
                            <a [routerLink]="[item.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                                <i class="{{item.icon}}"></i>
                                <!-- <mat-icon class="material-icons-round">{{item.icon}}</mat-icon> -->
                                <span>{{item.label}}</span>
                            </a>
                        </li>

                        <li (click)="logout()" class="logout">
                            <span>
                                <i class="bi bi-box-arrow-left"></i>
                            </span>   
                            <span>Logout</span>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div> 

        <div *ngIf="userDetails.data.email == 'siloerp@silo-inc.com'" class="sub-nav-list">
            <div *ngFor="let item of siloMenuData" class="list-items">
                <ng-container *ngIf="currentLink == item.label">
                    <div class="list-header">{{item.label}}</div>
                    <ul class="list">
                        <li *ngFor="let link of item.subMenu">
                            <a [routerLink]="[link.routeLink]" routerLinkActive="active">
                                <i class="{{link.icon}}"></i>
                                <!-- <mat-icon class="material-icons-round">{{item.icon}}</mat-icon> -->
                                <span>{{link.label}}</span>
                            </a>
                        </li>

                        <!-- <li (click)="logout()" class="logout">
                            <i class="bi bi-box-arrow-left"></i>
                            <span>Logout</span>
                        </li> -->
                        <li></li>
                    </ul>
                </ng-container>
            </div>            
        </div>
    </div>
</div>