<div class="header">
    <div class="search-bar">
        <span class="icon"><i class="bi bi-search"></i></span>
        <input type="text" placeholder="Search for an employee by name, department or position">
    </div>

    <div class="user-actions">
        <span><i class="bi bi-bell"></i></span>
        <span><i class="bi bi-calendar"></i></span>
        <div class="user">
            <div class="info">
                <span>{{userName}}</span>
                <span class="text">{{userRole}}</span>
            </div>
            <div class="photo bkg-standard" style="background-image: url('{{profilePhoto}}');"></div>
        </div>
    </div>
</div>