
.cta {
    display: inline-flex;
    justify-content: center;
    transition: var(--transition-norm);
    cursor: pointer;
    align-items: center;

    &.xxs {
        font-size: 0.55rem;
        letter-spacing: 0.04rem;
        padding: 0rem 0.5rem;
        border-radius: var(--radius-xs);
    }

    &.xs {
        font-size: 0.655rem;
        letter-spacing: 0.04rem;
        padding: 0.1rem 0.6rem;
        border-radius: var(--radius-xs);
    }

    &.sm {
        font-size: 0.755rem;
        letter-spacing: 0.05rem;
        padding: 0.2rem 0.8rem;
        border-radius: var(--radius-xs);
    } 

    &.md {
        font-size: 0.785rem;
        letter-spacing: 0.04rem;
        padding: 0.4rem 1rem;
        border-radius: var(--radius-md);

        &.icon {

            i {
                font-size: 1.3rem;
                margin-right: 0.5rem;
            }
        }
    }

    &.lg {
        font-size: 0.885rem;
        letter-spacing: 0.04rem;
        padding: 0.6rem 1rem;
        border-radius: var(--radius-md);

        &.icon {

            i {
                font-size: 1.3rem;
                margin-right: 0.5rem;
            }
        }
    }

    &.mmd {
        font-size: 0.855rem;
        letter-spacing: 0.05rem;
        padding: 0.4rem 1rem;
        border-radius: var(--radius-md);
    }

    &.primary-bkg {
        background-color: var(--primary);
        color: var(--white);

        &:hover {
            opacity: 0.9;
        }
    }

    &.primary-light-bkg {
        //border: 1px solid var(--primary-light);
        background-color: var(--primary-light);
        color: var(--darkest);

        // &:hover {
        //     //border: 1px solid var(--primary);
        //     background-color: var(--primary);
        //     color: var(--white);
        // }
    }

    &.trans-bkg {
        border: 1px solid var(--black-tint-md);
        background-color: transparent;
        color: var(--darkest);

        &.wht {
            color: white;
            border: 1px solid white;
        }

        &.icon {

            i {
                font-size: 1rem;
                margin-right: 0.5rem;
            }
        }

        &:hover {
            background-color: var(--primary-light);
        }
    }

    &.warning-bkg {
        background-color: var(--warning);
        color: var(--white);

        &:hover {
            opacity: 0.9;
        }
    }

    &.approved-bkg {
        background-color: var(--approved);
        color: var(--white);

        &:hover {
            opacity: 0.9;
        }
    }


}