<div class="content-wrap with-tabs">
    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header">Job Listings</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div class="cta trans-bkg filter-trigger"><i class="bi bi-filter"></i> Filter</div>
            <div class="cta primary-bkg icon md"><i class="bi bi-signpost-2-fill"></i>New Job Post</div>
        </div>
    </div>

    <div class="legend d-flex justify-content-start align-items-center mt-lg-4">
        <span class="desc">Reference :</span>
        <div class="status-hld">
            <span class="status started light">Applications</span>
            <span class="status considered light">Screening</span>
            <span class="status pending light">Interviews</span>
            <span class="status approved light">Negotiations</span>
        </div>
        
    </div>

    <div class="row-section mt-lg-4">
        <div class="job-wrap">
            <div *ngFor="let item of jobPosts" class="job-hld">
                <div *ngIf="item.status == 'Active'" class="active-status"></div>
                <div *ngIf="item.status == 'Expired'" class="active-status closed"></div>
                <div class="title">
                    <div class="text">{{item.jobTitle}}</div>
                    <!-- <div class="start">Feb 12, 2023</div> -->
                </div>
                <div class="dept">{{item.department}}</div>
                <div class="stages">
                    <span class="status started light">{{item.applicants}}</span>
                    <span class="status considered light">{{item.shortlisted}}</span>
                    <span class="status pending light">{{item.interviews}}</span>
                    <span class="status approved light">{{item.selected}}</span>
                </div>
                <div class="lead">
                    <div class="hdr">Hiring Manager</div>
                    <div class="name">{{item.hiringManager}}</div>
                </div>
                <div class="publish">
                    <input type="checkbox" value="1" class="switch" />
                    <span>Publish</span>
                </div>
                <div class="actions">
                    <span class="edit"><i class="bi bi-pen-fill"></i></span>
                    <span class="delete ms-lg-3"><i class="bi bi-trash3-fill"></i></span>
                    <span class="more ms-lg-2"><i class="bi bi-three-dots-vertical"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
