.summary-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;

    .vertical-label {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.03rem;
        position: absolute;
        transform: rotate(-90deg);
        text-transform: uppercase;
        color: var(--considered);
        top: 47%;
        left: -6%;
    }
}
.summary-wrap {
    width: 96%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .summary-hld {
        display: flex;
        align-items: center;
        flex: 1;

        &:nth-child(n+2) {
            border-top: 1px solid var(--border-black-lightest);
        }

        .row-label {
            width: 4rem;
            height: 3rem;
            display: flex;
            line-height: 1;
            flex-direction: column;
            font-size: 0.9rem;
            font-weight: 600;
            letter-spacing: 0.03rem;
            align-items: center;
            justify-content: center;
            border-radius: var(--radius-sm);
            background-color: var(--primary-light);
            color: var(--darker);

            span {
                font-size: 0.65rem;
                font-weight: 400;
                letter-spacing: 0.04rem;
            }
        }
    }
}