<div class="content-wrap">
    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header">CRM Dashboard</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div (click)="createNewTicket()" class="cta primary-bkg icon md"><i class="bi bi-ticket-detailed"></i>New Support Ticket</div>
        </div>
    </div>

    <div class="row-section mt-lg-4">
        <div class="inner-row-hld d-flex justify-content-between">

            <div class="row-card card-xxl card-yxl">
                <div class="col-card status-card-wrap card-yxl d-flex justify-content-between align-items-center gap-3">
                    <div *ngFor="let item of crmSummary" class="status-card d-flex flex-column justify-content-between card-xxl">
                        <div class="cont {{item.status}}">
                            <div class="det">
                                <div class="title">{{item.name}} 
                                    <span class="arrow" [ngStyle]="{'color': item.colorDark, 'background': item.colorLight}"><i class="{{item.icon}}"></i>{{item.percentChange}}</span>
                                </div>
                                <!-- <div class="date">
                                    <span><i class="bi bi-calendar2-week"></i></span>
                                    <span>{{item.referenceDate | date }}</span>
                                </div> -->
                            </div>
                            <div class="det">
                                <div class="icon {{item.status}}"><i class="{{item.symbol}}"></i></div>
                                <div class="count"><span>{{item.value}}</span>{{item.refLabel}}{{item.value > 1 ? 's' : ''}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-section mt-lg-4">
        <div class="inner-row-hld d-flex justify-content-between">

            <div class="row-card card-xmlg card-yxl">
                <div class="cont">
                    <div class="hdr d-flex justify-content-between align-items-center mt-lg-1 mb-lg-3">
                        <div class="title">
                            <div class="card-title">Yearly Revenue</div>
                            <div class="preamble">Sales revenue throughout the year</div>
                        </div>

                        <div class="actions-info">
                            <div class="dropdown-trigger"> Select Year <i class="bi bi-chevron-down"></i></div>
                        </div>
                    </div>
                    <div class="col-card card-xxl">
                        <highcharts-chart
                            [Highcharts]="AreaHighcharts"
                            [options]="areaChartOptions"
                            style="width: 100%; max-width: 100%; height: 250px; display: block;"
                        >
                        </highcharts-chart>
                    </div>
                </div>
            </div>

            <div class="row-card card-xmd card-yxl">
                <div class="cont">
                    <div class="hdr d-flex justify-content-between align-items-center mt-lg-1 mb-lg-3">
                        <div class="title">
                            <div class="card-title">Invoices by Status</div>
                            <div class="preamble">On the basis of payment status</div>
                            <ul class="legend general d-flex mt-2">
                                <li [class]="item.status" *ngFor="let item of invoiceStatus">{{item.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-card card-xxl d-flex justify-content-center align-items-center">
                        <ngx-charts-pie-chart
                            [view]="[250, 250]"
                            [scheme]="invoiceStatusScheme"
                            [results]="invoiceStatus"
                            [legend]="false"
                            [explodeSlices]="false"
                            [labels]="false"
                            [doughnut]="false"
                            [gradient]="false"
                        >
                        </ngx-charts-pie-chart>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row-section mt-lg-4">
        <div class="inner-row-hld d-flex justify-content-between">

            <div class="row-card card-xmd card-yxl">
                <div class="cont">
                    <div class="hdr d-flex justify-content-between align-items-center mt-lg-1 mb-lg-3">
                        <div class="title">
                            <div class="card-title">Leads by Status</div>
                            <div class="preamble">Distribution on the basis of status</div>
                            <ul class="legend general d-flex mt-2">
                                <li [class]="item.status" *ngFor="let item of leadsStatus">{{item.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-card card-xxl d-flex justify-content-center align-items-center">
                        <ngx-charts-pie-chart
                            [view]="[280, 280]"
                            [scheme]="leadsStatusScheme"
                            [results]="leadsStatus"
                            [legend]="false"
                            [explodeSlices]="false"
                            [labels]="false"
                            [doughnut]="true"
                            [gradient]="false"
                        >
                        </ngx-charts-pie-chart>
                    </div>
                </div>
            </div>

            <div class="row-card card-xmlg card-yxl">
                <div class="cont">
                    <div class="hdr d-flex justify-content-between align-items-center mt-lg-1 mb-lg-3">
                        <div class="title">
                            <div class="card-title">Contacts vs Leads </div>
                            <div class="preamble">Yearly trends of Contacts vs Leads</div>
                            
                        </div>
                        <div class="actions-info">
                            <ul class="legend general d-flex mt-2">
                                <li [class]="item.status" *ngFor="let item of contactsVsLeads">{{item.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-card card-xxl">
                        <ngx-charts-bar-vertical-2d
                            [view]="[620, 300]"
                            [scheme]="contactsVsLeadsScheme"
                            [results]="contactsVsLeadsData"
                            [gradient]="false"
                            [xAxis]="true"
                            [yAxis]="true"
                            [legend]="false"
                            [showXAxisLabel]="false"
                            [showYAxisLabel]="false"
                            [xAxisLabel]="'Months'"
                            [yAxisLabel]="'Sales'"
                        >
                        </ngx-charts-bar-vertical-2d>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row-section mt-lg-4">
        <div class="inner-row-hld d-flex justify-content-between">

            <div class="row-card card-xsm card-yxl">
                <div class="cont">
                    <div class="hdr d-flex justify-content-between align-items-center mt-lg-1 mb-lg-3">
                        <div class="title">
                            <div class="card-title">Top Leads</div>
                            <div class="preamble">Leads according to expected revenue</div>
                        </div>
                    </div>
                    <div class="listed-items mt-lg-3">
                        <div class="item">
                            <div class="content">
                                <div class="det d-flex align-items-end gap-2">
                                    <div class="image rd bkg-standard" style="background-image: url('./assets/images/illustrations/staff1.jpg');"></div>
                                    <div class="info">
                                        <div class="major bd">Leonel Grimbsy</div>
                                        <div class="minor">Valued at £ 34,500</div>
                                    </div>
                                </div>
                                <div class="det right">
                                    <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(5)"><i class="bi bi-star-fill"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det d-flex align-items-end gap-2">
                                    <div class="image rd bkg-standard" style="background-image: url('./assets/images/illustrations/staff2.jpg');"></div>
                                    <div class="info">
                                        <div class="major bd">Sarah Yale</div>
                                        <div class="minor">Valued at £ 24,300</div>
                                    </div>
                                </div>
                                <div class="det right">
                                    <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(4)"><i class="bi bi-star-fill"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det d-flex align-items-end gap-2">
                                    <div class="image rd bkg-standard" style="background-image: url('./assets/images/illustrations/staff3.jpg');"></div>
                                    <div class="info">
                                        <div class="major bd">Grennady Justin</div>
                                        <div class="minor">Valued at £ 12,200</div>
                                    </div>
                                </div>
                                <div class="det right">
                                    <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(4)"><i class="bi bi-star-fill"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det d-flex align-items-end gap-2">
                                    <div class="image rd bkg-standard" style="background-image: url('./assets/images/illustrations/profile-img.jpg');"></div>
                                    <div class="info">
                                        <div class="major bd">Tyler Rickon</div>
                                        <div class="minor">Valued at £ 10,200</div>
                                    </div>
                                </div>
                                <div class="det right">
                                    <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(3)"><i class="bi bi-star-fill"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det d-flex align-items-end gap-2">
                                    <div class="image rd bkg-standard" style="background-image: url('./assets/images/illustrations/staff3.jpg');"></div>
                                    <div class="info">
                                        <div class="major bd">Marcus Bent</div>
                                        <div class="minor">Valued at £ 9,400</div>
                                    </div>
                                </div>
                                <div class="det right">
                                    <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(3)"><i class="bi bi-star-fill"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-card card-xmd card-yxl">
                <div class="cont">
                    <div class="hdr d-flex justify-content-between align-items-center mt-lg-1 mb-lg-3">
                        <div class="title">
                            <div class="card-title">Tickets by Progress</div>
                            <div class="preamble">Distribution on the basis of progress</div>
                            <ul class="legend general d-flex mt-2">
                                <li [class]="item.status" *ngFor="let item of ticketProgress">{{item.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-card card-xxl d-flex justify-content-center align-items-center">
                        <ngx-charts-pie-chart
                            [view]="[250, 250]"
                            [scheme]="ticketProgressScheme"
                            [results]="ticketProgress"
                            [legend]="false"
                            [explodeSlices]="false"
                            [labels]="false"
                            [doughnut]="false"
                            [gradient]="false"
                        >
                        </ngx-charts-pie-chart>
                    </div>
                </div>
            </div>

            <div class="row-card card-xmd card-yxl">
                <div class="cont">
                    <div class="hdr d-flex justify-content-between align-items-center mt-lg-1 mb-lg-3">
                        <div class="title">
                            <div class="card-title">Upcoming Activities</div>
                            <div class="preamble">Activities scheduled for leads and contacts</div>
                        </div>
                    </div>
                    <div class="listed-items mt-lg-3">
                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major bd">Ibrahim Babatunde</div>
                                    <div class="minor">Email to be sent</div>
                                </div>
                                <div class="det right">
                                    <div class="major">Apr 20</div>
                                    <div class="minor sm">12:30pm - 12:45pm</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major bd">Remi Olubode</div>
                                    <div class="minor">Call to be made</div>
                                </div>
                                <div class="det right">
                                    <div class="major">May 21</div>
                                    <div class="minor sm">1:10pm - 2:45pm</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major bd">Matt Greg</div>
                                    <div class="minor">Meeting to be scheduled</div>
                                </div>
                                <div class="det right">
                                    <div class="major">May 26</div>
                                    <div class="minor sm">4:10pm - 4:25pm</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major bd">Rita Mreace</div>
                                    <div class="minor">Email to be sent</div>
                                </div>
                                <div class="det right">
                                    <div class="major">May 30</div>
                                    <div class="minor sm">9:30am - 10:45am</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major bd">Spence Holderyne</div>
                                    <div class="minor">Call to be made</div>
                                </div>
                                <div class="det right">
                                    <div class="major">Jun 4</div>
                                    <div class="minor sm">10:30am - 10:45am</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row-section mt-lg-3">
        <div class="table-wrap">

            <div class="inner-row hdr d-flex justify-content-start align-items-center">
                <div class="card-title">Support Tickets</div>
                <div class="bulk-actions d-flex justify-content-between align-items-center">
                    <div class="dropdown-trigger"> Bulk Actions <i class="bi bi-chevron-down"></i></div>
                    <div class="cta primary-bkg sm ms-lg-2">Apply</div>
                </div>
            </div>

            <div class="inner-row">
                <table 
                    mat-table
                    [dataSource]="dataSource"
                    class="dataTable lg mat-elevation-z0"
                    matSort
                >
                    <!-- Table Columns -->
                    <ng-container *ngFor="let column of tableColumns; let row" [matColumnDef]="column.label">

                        <ng-container *ngIf="column.key == 'image'">
                            <th style="width:5%" mat-header-cell *matHeaderCellDef></th>
                            <td style="width:1%; white-space: nowrap;" mat-cell *matCellDef="let row">
                                <span *ngIf="!row.applicantImage" class="initials">{{row.firstName[0] + row.lastName[0]}}</span>
                                <!-- <span *ngIf="row.applicantImage" class="table-img bkg-standard" style="background-image: url('{{row.employeeImage}}');"></span> -->
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'actions'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>
                            </th>
                            <td style="width:1%; white-space: nowrap;" mat-cell *matCellDef="let element">
                                <span class="table-icon edit"><i class="bi bi-pen-fill"></i></span>
                                <span class="table-icon delete ms-lg-3"><i class="bi bi-trash3-fill"></i></span>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'ticketNo'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <div class="major">{{row.ticketNo}}</div>
                                <div class="minor mt-1">{{row.firstName + ' ' + row.lastName}}</div>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'priority'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef></th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <span class="active-status" [class]="row.priority"></span>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'status'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <span class="status approved" *ngIf="row[column.key] == 'completed'">Resolved</span>
                                <span class="status pending" *ngIf="row[column.key] == 'investigating'">In Progress</span>
                                <span class="status warning" *ngIf="row[column.key] == 'pending'">Pending</span>
                            </td>
                        </ng-container>

                        <ng-container>
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.key == 'image' || column.key == 'actions' ? "" : column.label }}</th>
                            <td mat-cell *matCellDef="let row">{{ row[column.key] }}</td>
                        </ng-container>
                        
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let emprow; columns: displayedColumns">
                    </tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                            <div class="empty-data">
                                <img src="../../../../assets/images/illustrations/empty1.png" alt=""/>
                                <div class="text">No attendance records were found.</div>
                            </div>
                        </td>
                    </tr>


                    
                </table>
            </div>
        </div>
        
    </div>
</div>