.status-card-wrap {

    .status-card {

        .cont {
            padding: 1rem 7% 1.1rem;
            border-radius: var(--radius-md);
            //background-color: var(--primary-lightest);
            border: 1px solid white;

            // &.total {
            //     background-color: var(--primary-lightest);
            // }

            &.active {
                border: 1px solid var(--approved-light);
                background-color: var(--approved-lightest);
            }

            &.warning {
                border: 1px solid var(--pending-light);
                background-color: var(--pending-lightest);
            }

            &.pending {
                border: 1px solid var(--primary-light);
                background-color: var(--primary-lightest)
                //background-color: var(--pending-lightest);
            }


            .det {
                position: relative;

                .title {
                    display: flex;
                    //justify-content: space-between;
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 0.03rem;
                    color: var(--darker);
                    gap: 0.5rem;
                }

                .date {
                    margin-top: 0.2rem;

                    span {
                        font-size: 0.7rem;
                        letter-spacing: 0.03rem;

                        i {
                            font-size: 0.75rem;
                            color: var(--darker);
                            margin-right: 0.3rem;
                        }
                    }
                }

                .count {
                    font-size: 0.75rem;
                    letter-spacing: 0.03rem;
                    
                    span {
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: var(--black-tint);
                        margin-right: 0.4rem;
                    }
                }

                .icon {
                    width: 30%;
                    font-size: 1.8rem;
                    display: inline-block;
                    //font-weight: 600;
                    //color: var(--darker);
                    text-align: left;

                    &.total {
                        color: var(--primary);
                    }

                    &.active {
                        color: var(--approved);
                    }

                    &.warning {
                        color: var(--warning);
                    }

                    &.pending {
                        color: var(--primary);
                    }
                }

                &:last-child {
                    display: flex;
                    margin-top: 2rem;
                    align-items: flex-end;
                    justify-content: space-between;
                }
            }
        }

    }
}

.active-status {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--warning);
    display: inline-block;
    transform: scale(1);
    animation: live-pulse-red 1.5s infinite;
    box-shadow: 0 0 0 0 var(--warning);

    &.medium {
        background-color: var(--pending);
        box-shadow: unset;
        animation: unset;
    }

    &.low {
        background-color: var(--primary-light);
        box-shadow: unset;
        animation: unset;
    }
}