<div class="create-card">
    <div class="top-card">
        <div class="inner-wrap">
            <!-- <div class="hdr-title">
                <div class="create-title">Create New Employee</div>

                
            </div> -->
            <div class="hdr-details">
                <div class="inner-wrap">
                    <div class="create-icon profile">
                        <div class="image bkg-standard">
                            <img [src]="dialogData.modalInfo.profilePic" alt="">
                        </div>
                    </div>
                    <div class="create-details">
                        <div class="create-name">{{dialogData.modalInfo.fullName}}</div>
                        <p>{{dialogData.modalInfo.designation}}</p>
                    </div>
                    <div (click)="closeDialog()" class="close-btn">&times;</div>
                </div>
                <div class="hdr-overlay"></div>
            </div>
            
        </div>
    </div>

    <div class="bottom-card">

        <div class="cumulative d-flex justify-content-between">
            <div class="pay-hld">
                <span class="label">Total Earnings</span>
                <span class="amount earning">NGN {{totalEarnings}}</span>
            </div>
            <div class="pay-hld">
                <span class="label">Deductions</span>
                <span class="amount deduction">NGN {{deductions}}</span>
            </div>
            <div class="pay-hld">
                <span class="label">Net Earnings</span>
                <span class="amount">NGN {{netEarnings}}</span>
            </div>
        </div>

        <div class="form-wrap clearfix">
            <div class="form-hld">

                <form [formGroup]="payrollCalculatorForm" class="form-container" style="font-size: 0.85rem;">
                    <ng-container class="d-flex" *ngFor="let field of payrollCalculatorFields">
                        <ng-container [ngSwitch]="field.controlType">

                            <mat-form-field *ngSwitchCase="'credit'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <input type="number" min="0" (blur)="payCalculation('credit', field.controlName)" [readonly]="field.readonly" matInput [formControlName]="field.controlName">
                                <mat-error *ngIf="payrollCalculatorForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                            </mat-form-field>

                            <mat-form-field *ngSwitchCase="'debit'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <input type="number" min="0" (blur)="payCalculation('debit', field.controlName)" [readonly]="field.readonly" matInput [formControlName]="field.controlName">
                                <mat-error *ngIf="payrollCalculatorForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                            </mat-form-field>

                        </ng-container>
                    </ng-container>
                </form>

                <div class="btn-hld d-flex justify-content-end mt-lg-2" style="width: 100%">
                    <div (click)="onSubmit()" class="cta primary-bkg mmd text-uppercase" style="min-width: 30%" type="submit">Submit</div>
                </div>
            </div>
        </div>
    </div>
</div>