<div class="content-wrap">
    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header">Calendar</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div (click)="createNewMeeting()" class="cta primary-bkg icon md ms-lg-3"><i class="bi bi-calendar4-week"></i>New Meeting</div>
        </div>
    </div>

    <div class="row-section mt-lg-4">

        <div class="events-container card-yxl">
    
            <div class="col-card card-ylg d-flex justify-content-between align-items-start">

                <div class="row-card card-xxl matrix-container d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-between align-items-center text-center">
                        <div class="action">
                            <div class="btn-group cal-btns">
                                <div
                                    class="btn btn-primary prev"
                                    mwlCalendarPreviousView
                                    [view]="view"
                                    [(viewDate)]="viewDate"
                                    (viewDateChange)="closeOpenMonthViewDay()"
                                >
                                    <i class="bi bi-chevron-left"></i>  
                                </div>
                                <div
                                    class="btn btn-outline-secondary current text-center"
                                    mwlCalendarToday
                                    [(viewDate)]="viewDate"
                                >
                                    Today
                                </div>
                                <div
                                    class="btn btn-primary next"
                                    mwlCalendarNextView
                                    [view]="view"
                                    [(viewDate)]="viewDate"
                                    (viewDateChange)="closeOpenMonthViewDay()"
                                >
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </div>

                        <div class="action">
                            <h3 class="cal-curr-month">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                        </div>

                        <div class="action">
                            <div class="btn-group cal-btns">
                                <div
                                    class="btn btn-primary month-btn"
                                    (click)="setView(CalendarView.Month)"
                                    [class.active]="view === CalendarView.Month"
                                >
                                    Month
                                </div>
                                <div
                                    class="btn btn-primary week-btn"
                                    (click)="setView(CalendarView.Week)"
                                    [class.active]="view === CalendarView.Week"
                                >
                                    Week
                                </div>
                                <div
                                    class="btn btn-primary day-btn"
                                    (click)="setView(CalendarView.Day)"
                                    [class.active]="view === CalendarView.Day"
                                >
                                    Day
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div [ngSwitch]="view">
                        <mwl-calendar-month-view
                            *ngSwitchCase="CalendarView.Month"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            [activeDayIsOpen]="activeDayIsOpen"
                            (dayClicked)="dayClicked($event.day)"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                        >
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view
                            *ngSwitchCase="CalendarView.Week"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                        >
                        </mwl-calendar-week-view>
                        <mwl-calendar-day-view
                            *ngSwitchCase="CalendarView.Day"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                        >
                        </mwl-calendar-day-view>
                    </div>
                </div>

                <div class="row-card card-xmmd card-ylg h-auto ms-lg-4">
                    <div class="cont">
                        <div class="card-title clr">Event Categories</div>
                        <form [formGroup]="filterForm" class="categories-wrap mt-3">
                            <div class="form-check events cursor-pointer">
                                <label class="form-check-label">
                                    <input 
                                        class="form-check-input" 
                                        type="checkbox"
                                        formControlName="selectAll"
                                        (change)="filterEvents()"
                                    >
                                    <span><i class="bi bi-calendar2-event-fill ms-2 me-1"></i> All Events</span>
                                </label>
                            </div>
                            <div 
                                class="form-check mt-3"
                                formArrayName="eventFilters"
                                *ngFor="let item of filterForm.controls['eventFilters']['controls']; let i = index"
                                [ngClass]="eventFilters[i].class"
                            >
                                <label class="form-check-label">
                                    <input (change)="filterEvents()" class="form-check-input" type="checkbox" [formControlName]="i">
                                    <span><i class="{{eventFilters[i].icon}}"></i> {{eventFilters[i].name}}</span>
                                </label>
                            </div>
                        </form>
                    </div>

                    <div class="cont mt-lg-4">
                        <div class="card-title clr mb-lg-1">Upcoming Events</div>
                        <div class="listed-items mt-lg-3">
                            <div *ngFor="let item of upcomingEvents | slice:0:5;" class="item">
                                <div *ngIf="item.type == 'holiday'" class="content">
                                    <div class="det">
                                        <div class="major bd">{{item.holidayName}}</div>
                                        <div class="minor">Holiday</div>
                                    </div>
                                    <div class="det right">
                                        <div class="major">{{item.date | date:'MMM d'}}</div>
                                        <div class="minor sm"></div>
                                    </div>
                                </div>

                                <div *ngIf="item.type == 'meeting'" class="content">
                                    <div class="det">
                                        <div class="major bd">{{item.meetingTitle}}</div>
                                        <div *ngIf="item.zoomLink" class="minor">Meeting : <a target="_blank" [href]="item.zoomLink.start_url">Join Meeting</a></div>
                                        <div *ngIf="!item.zoomLink" class="minor text-capitalize">{{item.location}}</div>
                                    </div>
                                    <div class="det right">
                                        <div class="major">{{item.meetingStartTime | date:'MMM d'}}</div>
                                        <div class="minor sm">{{item.meetingStartTime | date:'h:mm a'}} - {{item.meetingEndTime | date:'h:mm a'}}</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
</ng-template>