.cta {

    &.filter-trigger {
        border-radius: var(--radius-md);
        margin-right: 1.2rem;
        padding: 0.3rem 1rem;

        i {
            margin-right: 0.5rem;
        }
    }
}


.legend {

    .desc {
        font-size: 0.85rem;
        letter-spacing: 0.03rem;
    }

    .status-hld {
        display: flex;
        margin-left: 1rem;
        gap: 10px;

        span {
            font-size: 0.75rem;
            letter-spacing: 0.03rem;
            padding: 0.1rem 0.7rem;
            color: var(--dark);
        }
    }
}

.appraisal-container {
    position: relative;

    .arrow {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        z-index: 2;

        &.horizontal {
            top: 92%;
            width: 92%;
            right: 0;
        }

        &.vertical {
            top: 40%;
            width: 55%;
            transform: rotate(-90deg);
            left: -25%;

            .line {

                span {
                    margin-left: 10%;
                }
            }
        }

        .line {
            flex: 1;
            display: flex;
            font-size: 0.7rem;
            font-weight: 600;
            letter-spacing: 0.04rem;
            color: var(--considered);
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            background: var(--primary-light);
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
            height: 21px;
        }

        .point {
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 30px solid var(--primary-light);
        }
    }

    .rating {
        display: flex;
        position: absolute;
        z-index: 2;

        &.horizontal {
            width: 92%;
            top: 89.5%;
        }

        &.vertical {
            top: 40%;
            width: 55%;
            transform: rotate(-90deg);
            left: -21.5%;
        }

        .name {
            width: 32%;
            font-size: 0.75rem;
            font-weight: 600;
            letter-spacing: 0.04rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--black-tint);
            text-transform: uppercase;
        }
    }
      
}

.matrix-container {
    height: 100%;
    position: relative;

    .matrix-wrap {
        width: 92%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .matrix-hld {
            width: 32.5%;
            height: 32%;
            padding: 0.6rem 1rem;
        }
    }
}

