.trigger-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .inner-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;
        border: 2px solid var(--primary-light);
        position: relative;

        .bkg-switch {
            width: 49%;
            height: 90%;
            position: absolute;
            transition: all 0.4s ease;
            background-color: var(--primary-light);
            transform: translateY(-50%);
            border-radius: 0.3rem;
            left: 0.5%;
            top: 50%;
            z-index: 1;

            &.shiftRight {
                left: 50.5%;
            }
        }

        .trigger {
            width: 50%;
            font-size: 0.8rem;
            // font-weight: 600;
            letter-spacing: 0.03rem;
            text-align: center;
            padding: 0.35rem 0;
            cursor: pointer;
            color: var(--dark);
            z-index: 2;

            &.active {
                //color: $white;
                //background-color: rgba($secondary, 0.5);
            }
        }
    }
}