<div class="content-wrap">

    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header"><span (click)="goBack()" class="back-btn"><i class="bi bi-arrow-left"></i></span> Payroll Details</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div (click)="openPayrollModal()" class="cta primary-bkg icon md"><i class="bi bi-calendar3"></i>Create New Period</div>
            <div class="custom-dropdown" [matMenuTriggerFor]="periodMenu"> Select Payroll Period <i class="bi bi-chevron-down"></i> </div>
            <mat-menu #periodMenu="matMenu">
                <div *ngFor="let item of payrollPeriods['data']" (click)="setPayrollData(item)" class="menu-item" mat-menu-item>
                    {{item.payrollPeriodName}}
                    <!-- <span class="actions">
                        <i class="bi bi-pen-fill edit"></i>
                        <i class="bi bi-trash3-fill delete"></i>
                    </span> -->
                </div>
            </mat-menu>
            <div (click)="openEditModal()" class="cta trans-bkg md rd edit ms-lg-3"><i class="bi bi-pen-fill"></i></div>
            <div (click)="deletePayrollPeriod()" class="cta trans-bkg md rd delete ms-lg-3"><i class="bi bi-trash3-fill"></i></div>
        </div>
    </div>

    <div class="row-section mt-lg-4">
        <div class="table-wrap">
            <div class="inner-row hdr d-flex justify-content-start align-items-center">
                <div class="card-title">{{payrollPeriodName}}</div>
                <div class="bulk-actions d-flex justify-content-between align-items-center">
                    <div class="dropdown-trigger"> Bulk Actions <i class="bi bi-chevron-down"></i></div>
                    <div class="cta primary-bkg sm ms-lg-2">Apply</div>
                    <div (click)="payrollBulkImport()" class="cta trans-bkg icon sm ms-lg-3"><i class="bi bi-box-arrow-down"></i> Import Payroll</div>
                    <div class="cta trans-bkg icon sm ms-lg-3"><i class="bi bi-box-arrow-up"></i> Export Payroll</div>
                </div>
            </div>

            <div class="inner-row">
                <table mat-table [dataSource]="dataSource" class="dataTable lg mat-elevation-z0">
                    <!-- Table Columns -->
                    <ng-container *ngFor="let column of tableColumns; let row" [matColumnDef]="column.label">
                        <ng-container *ngIf="column.key == 'select'">
                            <th style="width:5%" mat-header-cell *matHeaderCellDef>
                                <mat-checkbox 
                                    (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                    
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox 
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'image'">
                            <th style="width:5%" mat-header-cell *matHeaderCellDef>
                            </th>
                            <td style="width:1%; white-space: nowrap;" mat-cell 
                                *matCellDef="let row">
                                <!-- <span *ngIf="!row.profilePic" class="initials">{{row.firstName[0] + row.lastName[0]}}</span> -->
                                <span *ngIf="row.profilePic" class="table-img bkg-standard" style="background-image: url('{{row.profilePic}}');"></span>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'name'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <div class="major">{{ row.fullName }}</div>
                                <div class="minor mt-1">{{ row.designation }}</div>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'status'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <span class="status approved" *ngIf="row[column.key] == 'Completed'">{{row[column.key]}}</span>
                                <span class="status pending" *ngIf="row[column.key] == 'Pending'">{{row[column.key]}}</span>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'netEarnings'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>Net Pay</th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <span>{{row[column.key]}}</span>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'actions'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>
                            </th>
                            <td style="width:1%; white-space: nowrap; justify-content: flex-end;" mat-cell *matCellDef="let element">
                                <span (click)="openPayrollCalculator(element)" class="table-icon edit"><i class="bi bi-pen-fill"></i></span>
                                <!-- <span class="table-icon delete ms-lg-2"><i class="bi bi-trash3-fill"></i></span> -->
                            </td>
                        </ng-container>

                        <ng-container>
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.key == 'image' || column.key == 'actions' ? "" : column.label }}</th>
                            <td [style.color]="column['cellStyle']" mat-cell *matCellDef="let row">
                                <span *ngIf="!column.sortable" >{{row[column.key]}}</span>
                                <span *ngIf="column.sortable">{{row['dynamicFields'][column.key]}}</span>
                            </td>
                        </ng-container>
                        
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let emprow; columns: displayedColumns">
                    </tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                            <div class="empty-data">
                                <img src="../../../../assets/images/illustrations/empty1.png" alt=""/>
                                <div class="text">No records were found.</div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        
    </div>

</div>
