@import 'src/assets/styles/base/mixins';

.slides {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: column;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    border: 1px solid var(--primary-lightest);
    background-color: var(--primary-mid) !important;

    @include screen-media-min(md) {
        padding: 1.5rem 4% !important;
    }

    .top {

        .major, .minor {
            width: 100%;
            display: inline-flex;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 0.04rem;
            text-shadow: var(--card-shadow);
            color: white;

            @include screen-media-min(md) {
                font-size: 1.5rem;
            }

            img {
                width: auto;
                height: 1.8rem;

                @include screen-media-min(md) {
                    height: 2.7rem;
                }
            }
        }

        .major {
            @include screen-media-max(md) {
                font-size: 1.1rem;
            }
        }

        .minor {
            font-weight: 700;
            color: var(--bkg-light);
            margin-top: 0.2rem;
        }
    }

    .btm {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .date {
            display: inline-flex;
            flex-direction: column;

            span {
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.3;
                letter-spacing: 0.04rem;
                text-shadow: var(--card-shadow);
                color: white;

                @include screen-media-max(md) {
                    font-size: 0.9rem;
                    line-height: 1.3;
                }

                &:first-child {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 0.2rem;

                    @include screen-media-max(md) {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .image {
            // width: 5rem;
            // height: 5rem;
            // display: flex;
            // border-radius: var(--radius-md);
            // align-items: center;
            // justify-content: center;
            // box-shadow: var(--card-shadow);
            // background: white;

            &.user {
                width: 5.5rem;
                height: 5.5rem;
                display: flex;
                border-radius: 50%;
                align-items: center;
                overflow: hidden;
                justify-content: center;

                img {
                    width: auto;
                    height: 100%;
                }
            }

            img {
                width: auto;
                height: 4rem;

                @include screen-media-min(md) {
                    height: 4.5rem;
                }
            }
        }
    }
}

.inner-col {

    .status-card {

        &.ml {
            margin-left: 1rem;
        }

        &.map {
            position: relative;
            padding: 0;
            overflow: hidden;

            .google_map_container {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                height: 14rem;
                width: unset;

                @include screen-media-max(md) {
                    width: 100%;
                    height: 15rem;
                    position: relative;
                    top: unset;
                    left: unset;
                    transform: none;
                }
            }
        }

        &:first-child {
            border: 1px solid rgba(29, 161, 242, 0.2);
            background: rgba(29, 161, 242, 0.1);
        }

        &:nth-child(2) {
            border: 1px solid var(--approved-light);
            background: var(--approved-lightest);
        }

        &:last-child {
            border: 1px solid var(--pending-light);
            background: var(--pending-lightest);
        }

    }
}

.attendance {

    .card-det {
        cursor: pointer;

        .icon {
            font-size: 2.7rem;
            color: var(--black-tint);
        }
        
        .det {
            margin-left: 1.5rem;

            .title {
                font-size: 0.85rem;
                text-transform: uppercase;
            }

            .time {
                font-size: 1.2rem;
                font-weight: 700;
                letter-spacing: 0.03rem;
            }
        }


    }
}



.row-card {

    .hdr {
        .card-title {
            font-size: 0.95rem;
            letter-spacing: 0.03rem;
            font-weight: 600;
        }
        .preamble {
            font-size: 0.8rem;
            letter-spacing: 0.04rem;
            color: var(--text-grey);
            margin-top: 0.2rem;
        }

        .actions-info {

            .dropdown-trigger {
                width: 10rem;
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.75rem;
                letter-spacing: 0.03rem;
                padding: 0.2rem 0.7rem;
                border-radius: var(--radius-xs);
                transition: var(--transition-norm);
                border: 1px solid var(--border-black-lightest);
                cursor: pointer;

                i {
                    margin-left: 0.6rem;
                }
            }
        }

        .legend {
            flex-wrap: wrap;

            &.general {
                gap: 0.1rem 1rem;

                li {
                    font-size: 0.72rem;
                    white-space: nowrap;
                    letter-spacing: 0.02rem;
                    color: var(--black-tint);
                    padding-left: 1rem;
                    position: relative;

                    &.complete {

                        &:before {
                            background: var(--approved);
                        }
                    }

                    &.pending {

                        &:before {
                            background: var(--pending);
                        }
                    }

                    &.warning {

                        &:before {
                            background: var(--warning);
                        }
                    }

                    &.awaiting {

                        &:before {
                            background: var(--primary);
                        }
                    }

                    &.contacts {

                        &:before {
                            background: #9370DB;
                        }
                    }

                    &.leads {
                        &:before {
                            background: #87CEFA;
                        }
                    }

                    &:before {
                        content: '';
                        width: 0.6rem;
                        height: 0.6rem;
                        border-radius: 50%;
                        position: absolute;
                        transform: translateY(-50%);
                        left: 0;
                        top: 50%;
                    }
                }
            }
        }
    }
}

.donut-chart {
    height: 100%;
    position: relative;
    
    .chart-title {
        width: 100%;
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        transform: translate(-50%, -50%);
        align-items: center;
        text-align: center;
        left: 50%;
        top: 50%;
        z-index: 2;

        span {

            &:first-child {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.3;
                letter-spacing: 0.04rem;
                color: var(--black-tint);
            }

            // &:last-child {
            //     font-size: 0.9rem;
            //     line-height: 1.2;
            //     margin-top: 1rem;
            //     letter-spacing: 0.03rem;
            // }
        }

        &.leave {

            span {

                &:first-child {
                    font-size: 4rem;
                    font-weight: 600;
                    color: var(--black-tint);
                }
    
                &:last-child {
                    font-size: 0.9rem;
                    line-height: 1.2;
                    margin-top: 1rem;
                    letter-spacing: 0.03rem;
                }
            }
        }
    }
}

.guage-chart {
    margin-top: 2rem;
    position: relative;

    .nav-actions {
        position: absolute;
        bottom: 1rem;

        .action {
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 0.03rem;

            i {
                cursor: pointer;
            }
        }

        .info {
            font-size: 0.85rem;
            letter-spacing: 0.03rem;
            color: var(--text-grey);
            margin-top: 0.5rem;
        }
    }
}

::ng-deep {

    .google_map_container {

        .map-container {
            width: 400px !important;
            height: 250px !important;
        }
    }
    

    .ngx-gauge-meter {

        .reading-block {
            font-weight: 600;
            font-family: 'Roboto';
            overflow: visible !important;
            font-size: 55px !important;
        }

        .reading-label {
            display: none !important;
        }
    }
}