
.donut-chart {
    height: 100%;
    
    .chart-title {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        transform: translate(-50%, -50%);
        align-items: center;
        text-align: center;
        left: 50%;
        top: 50%;
        z-index: 2;

        span {

            &:first-child {
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 0.04rem;
                color: var(--black-tint);
            }

            // &:last-child {
            //     font-size: 0.9rem;
            //     line-height: 1.2;
            //     margin-top: 1rem;
            //     letter-spacing: 0.03rem;
            // }
        }
    }
}