<div class="content-wrap">
    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header">Recruitment Onboarding</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <!-- <div class="cta trans-bkg filter-trigger"><i class="bi bi-filter"></i> Filter</div> -->
            <div class="cta primary-bkg icon md ms-lg-3"><i class="bi bi-hdd"></i> Save Changes & Continue</div>
        </div>
    </div>

    <!-- <div class="legend d-flex justify-content-start align-items-center mt-lg-4">
        <span class="desc">Department :</span>
        <div class="status-hld">
            <span class="status approved light">Technology</span>
            <span class="status started light">Human Resources</span>
            <span class="status started light">Marketing</span>
            <span class="status started light">Operations</span>
        </div>
        
    </div> -->

    <div class="row-section mt-lg-4" style="flex: unset;">

        <div class="appraisal-container">
    
            <div class="col-card d-flex justify-content-between align-items-start">

                <div class="row-card card-xxl matrix-container d-flex flex-column justify-content-between">
                    <div class="card-cont">
                        <div class="inner-col card-xxl" style="overflow-x: hidden;">
                            <div class="request-wrap">
                                <div *ngFor="let employee of employees['data']; let i = index" class="request-hld">
                                    <div class="view"><i class="bi bi-arrow-up-right-circle-fill"></i></div>
                                    <div 
                                        (click)="viewApplicantChecklist(employee)" 
                                        class="cont"
                                        [ngClass]="{
                                            'pending': employee._id != employeeInView?._id,
                                            'reviewed': employee._id == employeeInView?._id
                                        }"
                                    >
                                        <div class="det d-flex align-items-center gap-2">
                                            <div class="image rd bkg-standard" style="background-image: url('{{employee.profilePic}}');"></div>
                                            <div class="info">
                                                <div class="title">{{employee.fullName}}</div>
                                                <div class="date">
                                                    <!-- <span><i class="bi bi-calendar2-week"></i></span> -->
                                                    <span>{{employee.companyRole}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="det">
                                            <div class="count">
                                                <span class="rating-icon pe-lg-1" *ngFor="let f of [].constructor(i+2)"><i class="bi bi-star-fill"></i></span>
                                            </div>
                                            <div class="dept">{{employee.department}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-cont mb-lg-4">
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row-section">
        <div class="appraisal-wrap">
            <div class="inner-wrap">
                <div class="employee-info mt-lg-4">
                    <div class="details">
                        <div class="image bkg-standard" style="background-image: url('{{employeeInView?.profilePic}}');"></div>
                        <div class="info-wrap">
                            <div class="info-title">
                                <span>{{employeeInView?.fullName}}</span>
                                <!-- <span></span> -->
                            </div>
                            <div class="info-list mt-lg-3">
                                <div class="info tri">
                                    <span class="label">Department:</span>
                                    <span class="text">{{employeeInView?.department}}</span>
                                </div>
                                <div class="info">
                                    <span class="label">Email Address:</span>
                                    <span class="text">{{employeeInView?.email}}</span>
                                </div>
                                <div class="info tri">
                                    <span class="label">Designation:</span>
                                    <span class="text">{{employeeInView?.designationName}}</span>
                                </div>
                                <div class="info tri">
                                    <span class="label">Company Role:</span>
                                    <span class="text">{{employeeInView?.companyRole}}</span>
                                </div>
                                <div class="info tri">
                                    <span class="label">Start Date:</span>
                                    <span class="text">{{strToDate(employeeInView?.employmentStartDate, '')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="appraisal-hdr">
                    <div class="detail">
                        <!-- <i class="bi bi-flag-fill"></i> -->
                        <span>Onboarding Checklist</span>
                    </div>
                    <!-- <div class="info-list mt-lg-2">
                        <div class="info tri">
                            <span class="label">Review Period:</span>
                            <span class="text">1st Quarter</span>
                        </div>
                        <div class="info tri">
                            <span class="label">Start Date:</span>
                            <span class="text">1 January, 2023</span>
                        </div>
                        <div class="info tri">
                            <span class="label">End Date:</span>
                            <span class="text">31 March, 2023</span>
                        </div>
                    </div> -->
                </div>
        
            </div>
        </div>
    </div>

    <div class="row-section">
        <div class="table-wrap">
            <div class="inner-row d-flex justify-content-start align-items-center">
                <div class="search-bar">
                    <span class="icon"><i class="bi bi-search"></i></span>
                    <input type="text" placeholder="Search for an employee">
                </div>
            </div>

            <div class="inner-row">
                <table 
                    mat-table
                    [dataSource]="dataSource"
                    class="dataTable lg mat-elevation-z0"
                    matSort
                >
                    <!-- Table Columns -->
                    <ng-container *ngFor="let column of tableColumns; let row" [matColumnDef]="column.label">
                        <ng-container *ngIf="column.key == 'select'">
                            <th style="width:5%" mat-header-cell *matHeaderCellDef>
                                <mat-checkbox 
                                    (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                    
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox 
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container>
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.key == 'image' || column.key == 'actions' ? "" : column.label }}</th>
                            <td mat-cell *matCellDef="let row">{{ row[column.key] }}</td>
                        </ng-container>
                        
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let emprow; columns: displayedColumns">
                    </tr>
                    
                </table>
            </div>
        </div>
        
    </div>
</div>