<div class="content-wrap">

    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header"><span (click)="goBack()" class="back-btn"><i class="bi bi-arrow-left"></i></span> Employee Info</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div class="cta primary-bkg icon md"><i class="bi bi-diagram-3-fill"></i>View Employee Ladder</div>
        </div>
    </div>

    <div class="row-section mt-lg-4">
        <div class="inner-row-hld d-flex justify-content-between">
            <div class="row-card card-xlg card-ymd">
                <div class="cont lg">
                    <div class="details">
                        <div class="image bkg-standard" style="background-image: url('{{employeeDetails?.profilePic}}');"></div>
                        <div class="info-wrap">
                            <div class="info-title">
                                <span>{{employeeDetails?.fullName}}</span>
                                <span class="text-capitalize">{{employeeDetails?.companyRole}}</span>
                            </div>
                            <div class="info-list mt-lg-3">
                                <div class="info duo">
                                    <span class="label">Department:</span>
                                    <span class="text">{{employeeDetails?.department}}</span>
                                </div>
                                <div class="info duo">
                                    <span class="label">Date Joined:</span>
                                    <span class="text">{{strToDate(employeeDetails?.employmentStartDate, false)}}</span>
                                </div>
                                <div class="info duo">
                                    <span class="label">Designation:</span>
                                    <span class="text">{{employeeDetails?.designationName}}</span>
                                </div>
                                <div class="info duo">
                                    <span class="label">Contract Type:</span>
                                    <span class="text">{{employeeDetails?.employmentType}}</span>
                                </div>
                                <div class="info duo">
                                    <span class="label">Email:</span>
                                    <span class="text">{{employeeDetails?.email}}</span>
                                </div>
                                <div class="info duo">
                                    <span class="label">Phone:</span>
                                    <span class="text">{{employeeDetails?.phoneNumber}}</span>
                                </div>
                            </div>
                        </div>
                        <div (click)="editEmployeeInfo()" class="edit cta quick primary-bkg xs">Edit Info</div>
                    </div>
                    <div class="details">
                        <div class="info-wrap">
                            <div class="info-list space">
                                <div class="info tri">
                                    <span class="label">Birthday:</span>
                                    <span class="text">{{strToDate(employeeDetails?.dateOfBirth, false)}}</span>
                                </div>
                                
                                <!-- <div class="info">
                                    <span class="label">Personal Email:</span>
                                    <span class="text">{{employeeDetails?.personalEmail}}</span>
                                </div> -->

                                <div class="info duo">
                                    <span class="label">Address:</span>
                                    <span class="text">{{employeeDetails?.address}}</span>
                                </div>

                                <div class="info tri">
                                    <span class="label">City:</span>
                                    <span class="text">{{employeeDetails?.city}}</span>
                                </div>

                                <div class="info tri">
                                    <span class="label">Country:</span>
                                    <span class="text">{{employeeDetails?.country}}</span>
                                </div>

                                <div class="info tri">
                                    <span class="label">Nationality:</span>
                                    <span class="text">{{employeeDetails?.nationality}}</span>
                                </div>

                                <div class="info tri">
                                    <span class="label">Gender:</span>
                                    <span class="text">{{employeeDetails?.gender}}</span>
                                </div>

                                <div class="info tri">
                                    <span class="label">Next of Kin:</span>
                                    <span class="text">{{employeeDetails?.nextOfKinFullName}}</span>
                                </div>

                                <div class="info">
                                    <span class="label">Next of Kin Phone:</span>
                                    <span class="text">{{employeeDetails?.nextOfKinPhoneNumber}}</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-card card-xsm card-ymd">
                <div class="cont">
                    <div class="card-title">Reporting Manager</div>
                    <div class="listed-items mt-lg-3">
                        <div class="item">
                            <div class="image bkg-standard" style="background-image: url('../../../../../assets/images/illustrations/staff3.jpg');"></div>
                            <div class="content">
                                <div class="det">
                                    <div class="major">{{employeeDetails?.managerName}}</div>
                                    <div class="minor">Marketing Manager</div>
                                </div>
                                <div class="det">
                                    <!-- <div class="status sm approved">Approved</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stacked-items mt-lg-3">
                        <div class="title">Other Team Members</div>
                        <div class="stack">
                            <span style="background-image: url('../../../../../assets/images/illustrations/staff1.jpg');"></span>
                            <span style="background-image: url('../../../../../assets/images/illustrations/staff3.jpg');"></span>
                            <span style="background-image: url('../../../../../assets/images/illustrations/staff2.jpg');"></span>
                            <span style="background-image: url('../../../../../assets/images/illustrations/profile-img.jpg');"></span>
                            <span style="background-image: url('../../../../../assets/images/illustrations/staff1.jpg');"></span>
                            <span style="background-image: url('../../../../../assets/images/illustrations/staff3.jpg');"></span>
                            <span>+9</span>
                        </div>
                    </div>
                    <div class="skill-card">
                        <div class="skill">Amazon Web Services</div>
                        <div class="skill">Azure</div>
                        <div class="skill">Product Design</div>
                        <div class="skill">Business Development</div>
                        <div class="skill">Software Development</div>
                        <div class="skill">UX Research</div>
                        <div class="skill">Product Marketers</div>
                    </div>
                </div>
            </div>
            <div class="row-card card-xmd card-ymd">
                <div class="cont">
                    <div class="card-title">Payment Information</div>
                    <div class="listed-items mt-lg-3">
                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major">Bank Name:</div>
                                </div>
                                <div class="det">
                                    <div class="minor">Barclays Bank</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major">Account Name:</div>
                                </div>
                                <div class="det">
                                    <div class="minor">Olivia Emmanuel</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major">Account Number:</div>
                                </div>
                                <div class="det">
                                    <div class="minor">011233445</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major">Bank Address:</div>
                                </div>
                                <div class="det">
                                    <div class="minor">4 Skerriel Lane, Bromford City</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major">Sort Code:</div>
                                </div>
                                <div class="det">
                                    <div class="minor">03412-3334-2333</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major">Tax Identification No:</div>
                                </div>
                                <div class="det">
                                    <div class="minor">434455678</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-card card-xmd card-ymd">
                <div class="cont">
                    <!-- <div class="card-title">Leave Requests</div> -->
                    <div class="donut-chart">
                        <!-- <canvas #doughnutCanvas></canvas> -->
                        <div class="chart-title">
                            <span>{{totalLeaveDays}}</span>
                            <span>Leave Balance <br> (Days)</span>
                        </div>
                        <highcharts-chart
                            [Highcharts]="Highcharts"
                            [options]="chartOptions"
                            style="width: auto; max-width: 100%; height: 170px; display: flex; align-items: center; justify-content: center;"
                        >
                        </highcharts-chart>
                    </div>

                    <div class="leave-wrap mt-lg-3">
                        
                        <div *ngFor="let item of leaveBreakdown" class="leave-hld" [ngStyle]="{'border-color': item.colorDark}">
                            <div class="icon"><i class="{{item.icon}}"></i></div>
                            <div class="title">{{item.name}}</div>
                            <div class="count"><span>{{item.daysUsed}}</span>/{{item.totalDays}} days</div>
                        </div>
                        <!-- <div class="leave-hld paid">
                            <div class="icon"><i class="bi bi-cash"></i></div>
                            <div class="title">Paid Leave</div>
                            <div class="count"><span>5</span>/14 days</div>
                        </div>
                        <div class="leave-hld unpaid">
                            <div class="icon"><i class="bi bi-exclamation-diamond"></i></div>
                            <div class="title">Unpaid </div>
                            <div class="count"><span>1</span>/2 days</div>
                        </div>
                        <div class="leave-hld sick">
                            <div class="icon"><i class="bi bi-bandaid"></i></div>
                            <div class="title">Sick Leave</div>
                            <div class="count"><span>2</span>/5 days</div>
                        </div> -->
                        
                    </div>
                    
                </div>
            </div>
            <div class="row-card card-xsm card-ymd">
                <div class="cont duo card-ymd">
                    <div class="card-title">Recent Approval Requests</div>
                    <div class="listed-items mt-lg-3">
                        <div class="item">
                            <div class="icon"><i class="bi bi-rocket-takeoff"></i></div>
                            <div class="content">
                                <div class="det">
                                    <div class="major">Leave Request</div>
                                    <div class="minor">Ibrahim Babatunde</div>
                                </div>
                                <div class="det">
                                    <div class="status sm approved">Approved</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="icon"><i class="bi bi-coin"></i></div>
                            <div class="content">
                                <div class="det">
                                    <div class="major">Reimbursement</div>
                                    <div class="minor">Matthew Reynolds</div>
                                </div>
                                <div class="det">
                                    <div class="status sm pending">Pending</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cont duo card-ymd">
                    <div class="card-title">Attached Documents</div>
                    <div class="listed-items mt-lg-3">
                        <div class="item">
                            <div class="icon adobe"><i class="bi bi-file-earmark-pdf"></i></div>
                            <div class="content">
                                <div class="det">
                                    <div class="major">Curriculum Vitae</div>
                                    <div class="minor">25 October, 2019 at 7:35AM</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="icon doc"><i class="bi bi-file-earmark-text"></i></div>
                            <div class="content">
                                <div class="det">
                                    <div class="major">Cover Letter</div>
                                    <div class="minor">26 October, 2019 at 8:32PM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>