<div class="content-wrap">

    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header">General Settings</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div class="cta primary-bkg icon md"><i class="bi bi-hdd-fill"></i>Save Changes</div>
            <!-- <div class="cta trans-bkg icon md ms-lg-3"><i class="bi bi-box-arrow-down"></i> Import</div>
            <div class="cta trans-bkg icon md ms-lg-3"><i class="bi bi-box-arrow-up"></i> Export</div> -->
        </div>
    </div>


    <div class="row-section mt-lg-4">

        <div class="col-card card-ylg d-flex justify-content-between align-items-start">

            <div class="row-card card-xxl d-flex justify-content-end">
                <form class="settings-form card-xxl" [formGroup]="generalInfoForm" novalidate autocomplete="off">

                    <div class="form-wrap d-flex justify-content-between card-xxl">
                        <div class="sec-hld mb-lg-2" style="width: 48%">
                            <label class="mb-lg-2">Company Name</label>
                            <input type="text" disabled formControlName="companyName" class="form-control form-control-md muted" id="companyName" placeholder="Enter company name">
                        </div>

                        <div class="sec-hld mb-lg-2" style="width: 48%">
                            <label class="mb-lg-2">Company Address</label>
                            <input type="text" formControlName="companyAddress" class="form-control form-control-md" id="companyName" placeholder="Enter company address">
                        </div>

                        <div class="sec-hld mt-lg-3" style="width: 48%">
                            <label class="mb-lg-2">Super Admin Email</label>
                            <input type="email" disabled formControlName="superAdminEmail" class="form-control form-control-md muted" id="superAdminEmail">
                        </div>

                        <div class="sec-hld d-flex align-items-end mt-lg-3" style="width: 48%">
                            <div class="form-hld" style="flex: 1;">
                                <label class="mb-lg-2">Reset Password</label>
                                <input type="text" formControlName="superAdminPassword" class="form-control form-control-md" id="superAdminPassword" placeholder="Enter new password">
                            </div>
                            <div class="cta primary-bkg xs ms-lg-2">Reset</div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="row-card card-xmmd ms-lg-4">
                <div class="cont">
                    <div class="card-title clr mb-lg-1">Assign System Roles</div>
                    <form [formGroup]="systemRolesForm">
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let item of accordionItems; let i = index" class="mat-elevation-z0">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>{{item.label}}</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="admin-selection pb-lg-2">
                                    <ul class="user-list pb-lg-1">
                                        <li *ngFor="let user of item.users; let j = index">{{user.email}}</li>
                                    </ul>
                                    <div class="edit"><i class="bi bi-pen-fill"></i></div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </form>

                </div>

                <div class="cont mt-lg-4">
                    <div class="card-title clr mb-lg-2">Audit Trail</div>
                    <div class="listed-items mt-lg-3">
                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major"><strong>Richard Jones</strong> created a new employee.</div>
                                    <div class="minor">06 Jun, 2023 <span class="ms-lg-2">03:35:34 PM</span></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major"><strong>Kenneth Drakes</strong> approved a leave request.</div>
                                    <div class="minor">08 Jun, 2023 <span class="ms-lg-2">12:05:14 AM</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="content">
                                <div class="det">
                                    <div class="major"><strong>Martyn Yeamen</strong> submitted a payroll.</div>
                                    <div class="minor">10 Jun, 2023 <span class="ms-lg-2">15:10:20 PM</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>


<div [ngClass]="{'active': !companyCreated}" class="page-overlay">
    <div class="outer"></div>
    <div class="content">
        <div class="top-card">
            <div class="inner-wrap">
                <div class="hdr-details">
                    <div class="inner-wrap">
                        <div class="create-icon">
                            <img src="../../../../assets/images/illustrations/entity.png" />
                        </div>
                        <div class="create-details">
                            <div class="create-name">Enter Company Name</div>
                            <!-- <p>The first step is to complete your business information.</p> -->
                        </div>
                    </div>
                    <div class="hdr-overlay"></div>
                </div>
                
            </div>
        </div>

        <div class="bottom-card">
            <mat-form-field color="accent" class="mb-lg-2" [style.width]="'100%'" appearance="fill">
                <mat-label>Company Name</mat-label>
                <input matInput required [(ngModel)]="companyName">
            </mat-form-field>

            <div (click)="createCompany()" class="cta primary-bkg w-100 icon lg"><i class="bi bi-people-fill"></i>SUBMIT</div>
        </div>
    </div>
</div>