
.accordion-wrap {
    margin-top: 0.5rem;

    .accordion-item {
        background-color: transparent;

        &:nth-child(n+2) {

            .accordion {
                border-top: 1px solid var(--border-grey);
            }
        }

        .accordion {
            width: 100%;
            display: flex;
            outline: none;
            border: none;
            font-size: 0.8rem;
            font-weight: 600;
            letter-spacing: 0.03rem;
            padding: 0.8rem 0.2rem;
            background-color: transparent;
            justify-content: space-between;
            color: var(--darker);

        }

        .accordion-header {
            
            .accordion-button {
                font-size: 0.85rem;
                letter-spacing: 0.03rem;
                background-color: transparent;
                padding: 1rem 1rem;

                &::after {
                    background-size: 70%;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .accordion-body {
            font-size: 0.8rem;
            letter-spacing: 0.02rem;
            padding: 0 1rem 1rem;
            background-color: transparent;
        }
    }
}