<div class="content-wrap">

    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header">General Settings</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div class="cta primary-bkg icon md"><i class="bi bi-hdd-fill"></i>Save Changes</div>
            <!-- <div class="cta trans-bkg icon md ms-lg-3"><i class="bi bi-box-arrow-down"></i> Import</div>
            <div class="cta trans-bkg icon md ms-lg-3"><i class="bi bi-box-arrow-up"></i> Export</div> -->
        </div>
    </div>


    <div class="row-section mt-lg-4">
        <div class="col-card card-ylg d-flex justify-content-between align-items-start">
            <div class="row-card card-xxl d-flex justify-content-end"></div>

            <div class="row-card card-xmmd ms-lg-4">
                <div class="cont">
                    <div class="card-title clr">Company General Info</div>
                    <div class="accordion-wrap">
                        <div class="accordion-item" *ngFor="let item of accordionItems; let i = index;">
                            <button class="accordion" (click)="toggleAccordion($event, i)">{{item.label}} <span><i class="bi bi-chevron-down"></i></span></button>
                            <div class="panel" hide="!item.isActive">
                                <p *ngFor="let child of item.data"> {{child.departmentName}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>