<div class="appraisal-wrap">
    <div class="inner-wrap">
        <div class="employee-info">
            <div class="details">
                <div class="image bkg-standard" style="background-image: url('../../../../../assets/images/illustrations/staff2.jpg');"></div>
                <div class="info-wrap">
                    <div class="info-title">
                        <span>Aghogho Etibo</span>
                        <!-- <span></span> -->
                    </div>
                    <div class="info-list mt-lg-3">
                        <div class="info duo">
                            <span class="label">Department:</span>
                            <span class="text">Technology</span>
                        </div>
                        <div class="info duo">
                            <span class="label">Designation:</span>
                            <span class="text">Senior Level</span>
                        </div>
                        <div class="info duo">
                            <span class="label">Email:</span>
                            <span class="text">aghogho.etibo@silo-inc.com</span>
                        </div>
                        <div class="info duo">
                            <span class="label">Phone:</span>
                            <span class="text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="appraisal-hdr">
            <div class="detail">
                <!-- <i class="bi bi-flag-fill"></i> -->
                <span>Appraisal Period Ratings</span>
            </div>
            <div class="info-list mt-lg-2">
                <div class="info tri">
                    <span class="label">Review Period:</span>
                    <span class="text">1st Quarter</span>
                </div>
                <div class="info tri">
                    <span class="label">Start Date:</span>
                    <span class="text">1 January, 2023</span>
                </div>
                <div class="info tri">
                    <span class="label">End Date:</span>
                    <span class="text">31 March, 2023</span>
                </div>
            </div>
        </div>

        <div class="appraisal-info"></div>
    </div>
</div>
