.appraisal-wrap {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 1.5rem 3%;

    .inner-wrap {

        .page-header {

            &.title {
                display: inline-flex;
                align-items: center;
                font-size: 1.6rem;
                font-weight: 600;
                letter-spacing: 0.04rem;
                color: var(--darkest);
            }
        }

        .employee-info {

            .details {
                display: flex;
                align-items: center;
                position: relative;
                gap: 2rem;
    
                &:nth-child(2) {
                    margin-top: 1.5rem;
                    padding-top: 1.5rem;
                    border-top: 1px solid var(--border-black-lightest);
                }
    
                .edit {
                    cursor: pointer;
                    position: absolute;
                    color: white;
                    transition: var(--transition-norm);
                    right: 0%;
                    top: -3%;
    
                    &:hover {
                        color: rgba(#fff, 0.9);
                    }
                }
    
                .image {
                    width: 7rem;
                    height: 7rem;
                    border-radius: 50%;
                }
    
                .info-wrap {
                    flex: 1;
    
                    .info-title {
                        display: inline-flex;
                        flex-direction: column;
    
                        span {
                            font-size: 1.3rem;
                            font-weight: 600;
                            letter-spacing: 0.04rem;
                        }
                    }
    
                }
            }
        }

        .info-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.4rem 1.5rem;

            &.space {
                gap: 0.9rem 1.5rem;
            }

            .info {
                font-size: 0.785rem;
                letter-spacing: 0.03rem;

                &.duo {
                    width: 47%;
                }

                &.tri {
                    width: 24%;
                }

                .label {
                    font-size: 0.75rem;
                    font-weight: 600;
                    color: var(--black-tint);
                }

                .text {
                    color: var(--black-tint);
                    margin-left: 0.4rem;
                }
            }
        }


        .appraisal-hdr {
            margin-top: 1rem;
            padding-top: 1.5rem;
            border-top: 1px solid var(--border-black-lightest);

            .detail {
                color: var(--pending);

                i {
                    font-size: 1.1rem;
                    // color: var(--approved);
                }

                span {
                    font-size: 1rem;
                    font-weight: 700;
                    letter-spacing: 0.05rem;
                    // padding-left: 0.7rem;
                }
            }
        }

        .appraisal-info {
            padding: 1.5rem 4% 1rem;
            background-color: var(--darker);
            border-radius: var(--radius-sm);

            .appraisal-validation {
                color: #fff;

                .validation {

                    &:nth-child(2) {
                        margin-top: 0.7rem;
                    }

                    .hdr {
                        font-size: 0.95rem;
                        font-weight: 500;
                        letter-spacing: 0.03rem;
                        margin-bottom: 0.7rem;
                    }

                    .field-wrap {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.35rem 3%;

                        mat-form-field {
                            width: 22%;
                        }
                    }
                }
            }
        }
    }

    .kpi-ratings {

        .table-wrap {
            margin-top: 1.5rem;

            .dataTable {

                thead {
                    height: 56px;
                    background-color: var(--primary-light);

                    tr {

                        th {
                            font-size: 0.7rem;
                            font-weight: 500;
                            border: none;
                            padding: 0 12px;
                            letter-spacing: 0.03rem;
                            text-transform: uppercase;
                            color: var(--darkest);

                            &:first-child {
                                padding-left: 2.5%;
                            }

                            &:last-child {
                                padding-right: 2.5%;
                            }
                        }
                    }
                }

                tbody {
                    height: auto;

                    tr {

                        td {
                            max-height: 100px;
                            font-size: 0.755rem;
                            padding: 0.4rem 12px;
                            letter-spacing: 0.03rem;
                            border: none;
                            color: var(--darkest);

                            &:first-child {
                                padding-left: 2.5%;
                            }

                            &:last-child {
                                padding-right: 2.5%;
                            }

                            .major {
                                width: 100%;
                                display: inline-flex;
                                font-size: 0.8rem;
                            }

                            .minor {
                                font-size: 0.7rem;
                                color: var(--black-tint);
                            }

                            input, textarea {
                                font-size: 0.755rem;
                                color: var(--black-tint);
                                box-shadow: none;
                                // border: none;
                                // padding: 0;

                                &::placeholder {
                                    font-size: 0.75rem;
                                    color: var(--black-tint);
                                }
                            }

                            textarea {
                                //height: auto;
                                // padding: 0.3rem 0;
                            }

                            .rating-icon {
                                color: var(--black-tint-mmd);
                            }
                        }
                    }
                }
            }
        }
    }

    .page-header {
        display: inline-flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        letter-spacing: 0.04rem;
        color: var(--primary);

        .back-btn {
            font-size: 1rem;
            display: inline-flex;
            align-items: center;
            margin-right: 0.8rem;
            justify-content: center;
            cursor: pointer;
            border-radius: var(--radius-sm);
            background-color: var(--bkg-light);
            border: 1px solid var(--border-grey);
            color: var(--black-tint-md);
            padding: 0.1rem 0.3rem;

            &:hover {
                background-color: var(--bkg-light);
            }
        }
    }
}

.custom-dropdown {
    width: 14rem;
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    // font-weight: 600;
    align-items: center;
    display: inline-flex;
    padding: 0.4rem 0.7rem;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 1rem;
    border-radius: var(--radius-sm);
    border: 1px solid var(--black-tint-mmd);
}

.mat-menu-panel {
    width: 14rem;
    max-width: 18rem;
    margin-top: 0.3rem;
    // border: 1px solid var(--black-tint-sm);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    background-color: white !important;
    color: var(--darker);

    .mat-menu-content {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    } 

    &.rd {
        width: fit-content;

        .mat-menu-item {
            width: 10rem;
            height: 30px;
            font-size: 0.7rem;
        }
    }

    .mat-menu-item {
        width: 100%;
        height: 35px;
        display: inline-flex;
        align-items: center;
        font-size: 0.8rem;
        letter-spacing: 0.03rem;
        color: var(--darker);
        transition: all 0.4s ease-in;

        &:hover {
            background-color: var(--primary-light);
        }

        &:nth-child(n+2) {
            border-top: 1px solid var(--black-tint-sm);
        }

        i {
            color: var(--pending);
        }
    }
}