<div class="appraisal-wrap">
    <div class="inner-wrap">

        <div class="row-section d-flex justify-content-between align-items-center">
            <div (click)="goBack()" class="page-header mb-4"><span class="back-btn"><i class="bi bi-arrow-left"></i></span> Go Back</div>
        </div>

        <div class="employee-info">
            <div class="details">
                <div class="image bkg-standard" style="background-image: url('../../../../../assets/images/illustrations/staff2.jpg');"></div>
                <div class="info-wrap">
                    <div class="info-title">
                        <span>Aghogho Etibo</span>
                        <!-- <span></span> -->
                    </div>
                    <div class="info-list mt-lg-3">
                        <div class="info duo">
                            <span class="label">Department:</span>
                            <span class="text">Technology</span>
                        </div>
                        <div class="info duo">
                            <span class="label">Designation:</span>
                            <span class="text">Senior Level</span>
                        </div>
                        <div class="info duo">
                            <span class="label">Email:</span>
                            <span class="text">aghogho.etibo@silo-inc.com</span>
                        </div>
                        <div class="info duo">
                            <span class="label">Phone:</span>
                            <span class="text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="appraisal-hdr">
            <div class="detail">
                <!-- <i class="bi bi-flag-fill"></i> -->
                <span>Appraisal Period Details</span>
            </div>
            <div class="info-list mt-lg-2">
                <div class="info tri">
                    <span class="label">Review Period:</span>
                    <span class="text">1st Quarter</span>
                </div>
                <div class="info tri">
                    <span class="label">Start Date:</span>
                    <span class="text">1 January, 2023</span>
                </div>
                <div class="info tri">
                    <span class="label">End Date:</span>
                    <span class="text">31 March, 2023</span>
                </div>
            </div>
        </div>

        <div class="kpi-ratings">

            <div *ngFor="let group of kpiCriteria; let i = index" class="table-wrap">

                <div class="inner-row hdr kpi d-flex justify-content-start align-items-center">
                    <div class="card-title">{{group.groupName}} Kpis</div>
                </div>
    
                <div class="inner-row">
                    <table 
                        mat-table
                        [dataSource]="group.groupKpis"
                        class="dataTable mat-elevation-z0"
                        matSort
                    >
                        <!-- Table Columns -->
                        <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.label">
    
                            <ng-container *ngIf="column.key == 'image'">
                                <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>
                                </th>
                                <td style="white-space: nowrap;" mat-cell 
                                    *matCellDef="let row">
                                    <span *ngIf="!row.employeeImage" class="initials">{{row.fullName[0]}}</span>
                                </td>
                            </ng-container>

                            <ng-container *ngIf="column.key == 'kpiDescription'">
                                <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
                                <td style="white-space: nowrap; padding-right: 0.5rem;" mat-cell *matCellDef="let row">
                                    <div class="major kpi">{{ row['kpiName'] }}</div>
                                    <div class="minor kpi mt-1">{{ row['kpiDescription'] }}</div>
                                </td>
                            </ng-container>
            
                            <ng-container>
                                <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
                                <td mat-cell *matCellDef="let row">{{ row[column.key] }}</td>
                            </ng-container>
                            
                        </ng-container>
    
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
                        
                    </table>
                </div>
            </div>
        </div>

        <div class="appraisal-info mt-lg-4 mt-2">
            <form [formGroup]="appraisalForm">

                <div class="appraisal-validation">
                    <div class="validation">
                        <div class="hdr">For Employees:</div>
                        <div class="field-wrap">
                            <mat-form-field color="accent" class="mb-lg-2" appearance="fill">
                                <mat-label class="text-capitalize">Employee Name</mat-label>
                                <input readonly matInput formControlName="employeeName">
                            </mat-form-field>

                            <mat-form-field color="accent" class="mb-lg-2" appearance="fill">
                                <mat-label class="text-capitalize">Employee Signature</mat-label>
                                <input readonly matInput formControlName="employeeSignature">
                            </mat-form-field>

                            <mat-form-field color="accent" class="mb-lg-2" appearance="fill">
                                <mat-label class="text-capitalize">Employee Signature Date</mat-label>
                                <input readonly matInput formControlName="employeeSignDate">
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="validation">
                        <div class="hdr">For Managers:</div>
                        <div class="field-wrap">
                            <mat-form-field color="accent" class="mb-lg-2" [style.width]="'40%'" appearance="fill">
                                <mat-label>Employee Potential</mat-label>
                                <mat-select
                                    class="selectField"
                                    disableOptionCentering
                                    panelClass="matDropdown"
                                    formControlName="employeePotential"
                                >
                                    <mat-option *ngFor="let option of matrixSelectOptions | keyvalue" [value]="option.key">{{option.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="appraisalForm.get('employeePotential')?.hasError('required')">Employee potential is required</mat-error>
                            </mat-form-field>

                            <mat-form-field color="accent" class="mb-lg-2" [style.width]="'40%'" appearance="fill">
                                <mat-label>Employee Performance</mat-label>
                                <mat-select
                                    class="selectField"
                                    disableOptionCentering
                                    panelClass="matDropdown"
                                    formControlName="employeePerformance"
                                >
                                    <mat-option *ngFor="let option of matrixSelectOptions | keyvalue" [value]="option.key">{{option.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="appraisalForm.get('employeePerformance')?.hasError('required')">Employee performance is required</mat-error>
                            </mat-form-field>

                            <mat-form-field color="accent" class="mb-lg-2" [style.width]="'100%'" appearance="fill">
                                <mat-label class="text-capitalize">Manager Summary</mat-label>
                                <input matInput formControlName="managerSummary">
                                <mat-error *ngIf="appraisalForm.get('managerSummary')?.hasError('required')">Manager Sunmmary is required</mat-error>
                            </mat-form-field>

                            <mat-form-field color="accent" class="mb-lg-2" appearance="fill">
                                <mat-label class="text-capitalize">Manager Name</mat-label>
                                <input readonly matInput formControlName="managerName">
                            </mat-form-field>

                            <mat-form-field color="accent" class="mb-lg-2" appearance="fill">
                                <mat-label class="text-capitalize">Manager Signature</mat-label>
                                <input readonly matInput formControlName="managerSignature">
                            </mat-form-field>

                            <mat-form-field color="accent" class="mb-lg-2" appearance="fill">
                                <mat-label class="text-capitalize">Manager Signature Date</mat-label>
                                <input matInput formControlName="managerSignDate">
                            </mat-form-field>

                        </div>
                    </div>
                </div>    

            </form>
        </div>
    </div>
</div>
