<div class="create-card">
    <div class="top-card">
        <div class="inner-wrap">
            <!-- <div class="hdr-title">
                <div class="create-title">Create New Employee</div>

                
            </div> -->
            <div class="hdr-details">
                <div class="inner-wrap">
                    <div class="create-icon">
                        <img class="lg" src="../../../../assets/images/illustrations/orders.png" />
                    </div>
                    <div class="create-details">
                        <div class="create-name">Invoice information</div>
                        <!-- <p>The first step is to complete your business information.</p> -->
                    </div>
                    <div (click)="closeDialog()" class="close-btn">&times;</div>
                </div>
                <div class="hdr-overlay"></div>
            </div>
            
        </div>
    </div>

    <div class="bottom-card">
        <div class="form-wrap clearfix">
            <div class="form-hld">

                <form [formGroup]="orderForm" class="form-container" style="font-size: 0.85rem;">

                    <ng-container class="d-flex" *ngFor="let field of orderFieldData">
                        <ng-container [ngSwitch]="field.controlType">

                            <mat-form-field *ngSwitchCase="'text'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <input matInput [formControlName]="field.controlName">
                                <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('email')">Please enter a valid email address</mat-error>
                                <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                            </mat-form-field>
    
                            <mat-form-field *ngSwitchCase="'select'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <mat-select
                                    class="selectField"
                                    disableOptionCentering
                                    panelClass="matDropdown"
                                    [formControlName]="field.controlName"
                                >
                                    <mat-option *ngFor="let option of field.selectOptions | keyvalue" [value]="option.key">{{option.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                            </mat-form-field>

                            <mat-form-field *ngSwitchCase="'date'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <input matInput [matDatepicker]="picker" readonly [formControlName]="field.controlName">
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker color="accent" disabled="false"></mat-datepicker>
                                <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                                <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('date')">{{field.controlLabel}} is invalid</mat-error>
                            </mat-form-field>

                        </ng-container>
                    </ng-container>

                    <ng-container formArrayName="orderItemDetails">
                        <div class="order-hdr">Item Details</div>
                        <div class="order-wrap">
                            <div *ngFor="let _ of orderDetails.controls; index as i" class="order-hld">
                                <ng-container [formGroupName]="i">
                                    <mat-form-field color="accent" class="mb-lg-2" [style.width]="'35%'" appearance="fill">
                                        <mat-label>Item Description</mat-label>
                                        <input matInput formControlName="description">
                                        <!-- <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('required')">Item description is required</mat-error> -->
                                    </mat-form-field>

                                    <mat-form-field color="accent" class="mb-lg-2" [style.width]="'10%'" appearance="fill">
                                        <mat-label>Qty</mat-label>
                                        <input type="number" (change)="calcOrderItemTotal(i)" matInput formControlName="quantity">
                                        <!-- <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('required')">Item description is required</mat-error> -->
                                    </mat-form-field>

                                    <mat-form-field color="accent" class="mb-lg-2" [style.width]="'14%'" appearance="fill">
                                        <mat-label>Unit Price</mat-label>
                                        <input type="number" (change)="calcOrderItemTotal(i)" matInput formControlName="unitPrice">
                                        <!-- <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('required')">Item description is required</mat-error> -->
                                    </mat-form-field>

                                    <mat-form-field color="accent" class="mb-lg-2" [style.width]="'12%'" appearance="fill">
                                        <mat-label>Tax (%)</mat-label>
                                        <input type="number" (change)="calcOrderItemTotal(i)" matInput formControlName="tax">
                                        <!-- <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('required')">Item description is required</mat-error> -->
                                    </mat-form-field>

                                    <mat-form-field color="accent" class="mb-lg-2" [style.width]="'15%'" appearance="fill">
                                        <mat-label>Sub Total</mat-label>
                                        <input readonly matInput formControlName="subTotal">
                                        <!-- <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('required')">Item description is required</mat-error> -->
                                    </mat-form-field>

                                    <span *ngIf="i > 0" (click)="removeOrderItem(i)" class="remove"><i class="bi bi-trash3-fill"></i></span>
                                </ng-container>
                            </div>
                        </div>
                
                    </ng-container>

                    <div class="summary w-100 d-flex justify-content-between align-items-center">
                        <div (click)="addOrderItem()" class="cta primary-bkg sm">Add Item</div>

                        <mat-form-field color="accent" class="mb-lg-2" [style.width]="'20%'" appearance="fill">
                            <mat-label>Total Price</mat-label>
                            <input readonly matInput formControlName="orderTotal">
                            <!-- <mat-error *ngIf="orderForm.get(field.controlName)?.hasError('required')">Item description is required</mat-error> -->
                        </mat-form-field>
                    </div>

                    <div class="btn-hld d-flex justify-content-end mt-lg-3 w-100">
                        <div class="cta primary-bkg mmd text-uppercase" style="min-width: 30%" type="submit">Submit</div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>