.no-data-wrap {

    .icon {
        font-size: 2rem;
        color: var(--primary);
    }

    .message {
        font-weight: 500;
        color: var(--black-tint);
        text-align: center;
    }
}