<div class="create-card">
    <div class="top-card">
        <div class="inner-wrap">
            <!-- <div class="hdr-title">
                <div class="create-title">Create New Employee</div>

                
            </div> -->
            <div class="hdr-details">
                <div class="inner-wrap">
                    <div class="create-icon profile">
                        <div class="image bkg-standard">
                            <img [src]="profileImgFile ? profilePic : employeeDetails?.profilePic" alt="">
                        </div>
                        <span (click)="fileUpload.click()"><i class="bi bi-camera-fill"></i></span>
                        <input 
                            type="file" 
                            class="file-upload"
                            (change)="profilePicUpload($event)" 
                            #fileUpload
                        />
                    </div>
                    <div class="create-details">
                        <div class="create-name">Edit employee information</div>
                        <!-- <p>The first step is to complete your business information.</p> -->
                    </div>
                    <div (click)="closeDialog()" class="close-btn">&times;</div>
                    <!-- <div *ngIf="isUpdateCustomer" class="create-details">
                        <div class="create-name">{{firstName}} {{lastName}}</div>
                        <div class="create-id">Customer ID: {{customerId}}</div>
                    </div> -->
                </div>
                <div class="hdr-overlay"></div>
            </div>
            
        </div>
    </div>

    <div class="bottom-card">
        <div class="trigger-wrap mb-lg-3">
            <div class="inner-wrap">
                <div [ngClass]="{shiftRight: !officialTabActive}" id="" class="bkg-switch"></div>
                <div (click)="officialTabActive = true" [ngClass]="{active: officialTabActive}" class="trigger official">Official Information</div>
                <div (click)="officialTabActive = false" [ngClass]="{active: !officialTabActive}" class="trigger personal">Personal Information</div>
            </div>
        </div>
        <div class="form-wrap clearfix">
            <div class="form-hld">

                <form *ngIf="officialTabActive" [formGroup]="officialInfoForm" class="form-container" style="font-size: 0.85rem;">

                    <ng-container class="d-flex" *ngFor="let field of officialInfoFields">
                        <ng-container [ngSwitch]="field.controlType">

                            <mat-form-field *ngSwitchCase="'text'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <input [readonly]="field.readonly" matInput [formControlName]="field.controlName">
                                <mat-error *ngIf="officialInfoForm.get(field.controlName)?.hasError('email')">Please enter a valid email address</mat-error>
                                <mat-error *ngIf="officialInfoForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                                
                            </mat-form-field>
    
                            <mat-form-field *ngSwitchCase="'select'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <mat-select
                                    class="selectField"
                                    [disabled]="field.readonly"
                                    disableOptionCentering
                                    panelClass="matDropdown"
                                    [formControlName]="field.controlName"
                                >
                                    <mat-option *ngFor="let option of field.selectOptions | keyvalue" [value]="option.key">{{option.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="officialInfoForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                            </mat-form-field>

                            <mat-form-field *ngSwitchCase="'date'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <input matInput [matDatepicker]="picker" readonly [formControlName]="field.controlName">
                                <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                                <mat-datepicker-toggle [disabled]="field.readonly" matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker color="accent" disabled="false"></mat-datepicker>
                                <mat-error *ngIf="officialInfoForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                                <mat-error *ngIf="officialInfoForm.get(field.controlName)?.hasError('date')">{{field.controlLabel}} is invalid</mat-error>
                            </mat-form-field>

                        </ng-container>
                    </ng-container>

                </form>

                <form *ngIf="!officialTabActive" [formGroup]="personalInfoForm" class="form-container" style="font-size: 0.85rem;">

                    <ng-container class="d-flex" *ngFor="let field of personalInfoFields">
                        <ng-container [ngSwitch]="field.controlType">

                            <mat-form-field *ngSwitchCase="'text'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <input matInput [formControlName]="field.controlName">
                                <mat-error *ngIf="officialInfoForm.get(field.controlName)?.hasError('email')">Please enter a valid email address</mat-error>
                                <mat-error *ngIf="officialInfoForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                                
                            </mat-form-field>
    
                            <mat-form-field *ngSwitchCase="'select'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <mat-select
                                    class="selectField"
                                    disableOptionCentering
                                    panelClass="matDropdown"
                                    [formControlName]="field.controlName"
                                >
                                    <mat-option *ngFor="let option of field.selectOptions | keyvalue" [value]="option.key">{{option.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="officialInfoForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                            </mat-form-field>

                            <mat-form-field *ngSwitchCase="'date'" color="accent" class="mb-lg-2" [style.width]="field.controlWidth" appearance="fill">
                                <mat-label>{{field.controlLabel}}</mat-label>
                                <input matInput [matDatepicker]="picker" readonly [formControlName]="field.controlName">
                                <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker color="accent" disabled="false"></mat-datepicker>
                                <mat-error *ngIf="officialInfoForm.get(field.controlName)?.hasError('required')">{{field.controlLabel}} is required</mat-error>
                                <mat-error *ngIf="officialInfoForm.get(field.controlName)?.hasError('date')">{{field.controlLabel}} is invalid</mat-error>
                            </mat-form-field>

                        </ng-container>
                    </ng-container>

                </form>

                <div class="btn-hld d-flex justify-content-end mt-lg-2" style="width: 100%">
                    <div (click)="updateEmployee()" class="cta primary-bkg mmd text-uppercase" style="min-width: 30%" type="submit">Submit</div>
                </div>
            </div>
        </div>
    </div>
</div>