
<div class="content-wrap">

    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header">Employees</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div (click)="addNewEmployee()" class="cta primary-bkg icon md"><i class="bi bi-person-fill-add"></i>Add Employee</div>
            <div (click)="addBulkEmployees()" class="cta trans-bkg icon md ms-lg-3"><i class="bi bi-box-arrow-down"></i> Import</div>
            <div class="cta trans-bkg icon md ms-lg-3"><i class="bi bi-box-arrow-up"></i> Export</div>
        </div>
    </div>

    <div class="row-section mt-lg-4">
        <div class="table-wrap">
            <div class="inner-row d-flex justify-content-start align-items-center">
                <div class="search-bar">
                    <span class="icon"><i class="bi bi-search"></i></span>
                    <input type="text" placeholder="Search for an employee">
                </div>

                <div class="filter-options">
                    <div class="filter-trigger"><i class="bi bi-filter"></i> Filter</div>
                </div>

                <div class="bulk-actions d-flex justify-content-between align-items-center">
                    <div [matMenuTriggerFor]="bulkOptions" class="dropdown-trigger"> Bulk Actions <i class="bi bi-chevron-down"></i></div>
                    <mat-menu #bulkOptions="matMenu" class="more">
                        <div (click)="assignManager('Manager', 'bulk')" class="menu-item" mat-menu-item>Assign Manager</div>
                        <div (click)="assignManager('Approver', 'bulk')" class="menu-item" mat-menu-item>Assign Approvers</div>
                    </mat-menu>
                    <div class="cta primary-bkg sm ms-lg-2">Apply</div>
                </div>
            </div>

            <div class="inner-row">
                <table 
                    mat-table
                    [dataSource]="dataSource"
                    class="dataTable lg mat-elevation-z0"
                    matSort
                >
                    <!-- Table Columns -->
                    <ng-container *ngFor="let column of tableColumns; let row" [matColumnDef]="column.label">
                        <ng-container *ngIf="column.key == 'select'">
                            <th style="width:5%" mat-header-cell *matHeaderCellDef>
                                <mat-checkbox 
                                    (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                    
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox 
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'image'">
                            <th style="width:5%" mat-header-cell *matHeaderCellDef>
                            </th>
                            <td style="width:1%; white-space: nowrap;" mat-cell 
                                *matCellDef="let row">
                                <span *ngIf="!row.profilePic" class="initials">{{row.firstName[0] + row.lastName[0]}}</span>
                                <span *ngIf="row.profilePic" class="table-img bkg-standard" style="background-image: url('{{row.profilePic}}');"></span>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'actions'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>
                            </th>
                            <td style="width:1%; white-space: nowrap;" mat-cell *matCellDef="let element">
                                <span (click)="viewEmployee(element)" class="table-icon edit"><i class="bi bi-pen-fill"></i></span>
                                <span (click)="deleteEmployee(element)" class="table-icon delete ms-lg-3"><i class="bi bi-trash3-fill"></i></span>
                                <span [matMenuTriggerFor]="moreOptions" class="table-icon more ms-lg-2"><i class="bi bi-three-dots-vertical"></i></span>
                                <mat-menu #moreOptions="matMenu" class="more">
                                    <div (click)="assignManager('Manager', 'bulk', element)" class="menu-item" mat-menu-item>Assign Manager</div>
                                    <div (click)="assignManager('Approver', 'bulk', element)" class="menu-item" mat-menu-item>Assign Approvers</div>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'name'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <div class="major">{{ row['firstName'] }} {{ row['lastName'] }}</div>
                                <div class="minor mt-1">{{ row['employeeCode'] }}</div>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'activeStatus'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <span class="status approved" *ngIf="row[column.key] == true">Active</span>
                                <span class="status pending" *ngIf="row[column.key] == false">Pending</span>
                            </td>
                        </ng-container>

                        <ng-container>
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.key == 'image' || column.key == 'actions' ? "" : column.label }}</th>
                            <td mat-cell *matCellDef="let row">{{ row[column.key] }}</td>
                        </ng-container>
                        
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let emprow; columns: displayedColumns">
                    </tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                            <div class="empty-data">
                                <img src="../../../../assets/images/illustrations/empty1.png" alt=""/>
                                <div class="text">No employee records were found.</div>
                            </div>
                        </td>
                    </tr>


                    
                </table>
            </div>
        </div>
        
    </div>
</div>


