::ng-deep {

    .mat-chip-list-wrapper {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        flex-wrap: nowrap !important;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none !important;
        }

        mat-chip {
            min-height: 24px !important;
            font-size: 0.75rem !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;
        }
    }

    // .mat-select-panel-wrap {
    //     margin-top: 2.5rem !important;
    // }
}
