<div class="content-wrap">

    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header"><span class="back-btn"><i class="bi bi-arrow-left"></i></span> Lead Details</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div (click)="createNewActivity()" class="cta primary-bkg icon md"><i class="bi bi-diagram-3-fill"></i>Create New Activity</div>
        </div>
    </div>

    <div class="row-section mt-lg-4 mb-lg-5">
        <div class="inner-row-hld d-flex justify-content-between">
            <div class="row-card card-xlg" style="height: fit-content;">
                <div class="cont lg">
                    <div class="details">
                        <div class="image bkg-standard" style="background-image: url('./assets/images/illustrations/profile-img.jpg');"></div>
                        <div class="info-wrap">
                            <div class="info-title">
                                <span>Mary Thompson</span>
                                <span class="text-capitalize"></span>
                            </div>
                            <div class="info-list mt-lg-3">
                                <div class="info duo">
                                    <span class="label">Department:</span>
                                    <span class="text">Marketing</span>
                                </div>
                                <div class="info duo">
                                    <span class="label">Date Joined:</span>
                                    <span class="text">21 March, 2024</span>
                                </div>
                                <div class="info duo">
                                    <span class="label">Designation:</span>
                                    <span class="text">Mid Level</span>
                                </div>
                                <div class="info duo">
                                    <span class="label">Contract Type:</span>
                                    <span class="text">Contract</span>
                                </div>
                                <div class="info duo">
                                    <span class="label">Email:</span>
                                    <span class="text">anthonymerger@gmail.com</span>
                                </div>
                                <div class="info duo">
                                    <span class="label">Phone:</span>
                                    <span class="text">+4472383833</span>
                                </div>
                            </div>
                        </div>
                        <div class="edit cta quick primary-bkg xs">Edit Info</div>
                    </div>
                    <div class="details">
                        <div class="info-wrap">
                            <div class="info-list space">
                                <div class="info tri">
                                    <span class="label">Birthday:</span>
                                    <span class="text">8 August, 2001</span>
                                </div>
                                
                                <!-- <div class="info">
                                    <span class="label">Personal Email:</span>
                                    <span class="text">{{employeeDetails?.personalEmail}}</span>
                                </div> -->

                                <div class="info duo">
                                    <span class="label">Address:</span>
                                    <span class="text">7 Skirtel Lane</span>
                                </div>

                                <div class="info tri">
                                    <span class="label">City:</span>
                                    <span class="text">Melford</span>
                                </div>

                                <div class="info tri">
                                    <span class="label">Country:</span>
                                    <span class="text">Nigerian</span>
                                </div>

                                <div class="info tri">
                                    <span class="label">Nationality:</span>
                                    <span class="text">Nigerein</span>
                                </div>

                                <div class="info tri">
                                    <span class="label">Gender:</span>
                                    <span class="text">Male</span>
                                </div>

                                <div class="info tri">
                                    <span class="label">Next of Kin:</span>
                                    <span class="text">Derrick Lintel</span>
                                </div>

                                <div class="info">
                                    <span class="label">Next of Kin Phone:</span>
                                    <span class="text">+4433838838</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cont lg mt-lg-3">
                    <div class="card-title">Contact Activities</div>
                    <div class="activities-wrap">
                        <div class="activity-hld">
                            <div class="row-det">
                                <div class="det call">
                                    <span><i class="bi bi-telephone-outbound"></i> Call</span>
                                </div>
                                <div class="det">23 April, 2024</div>
                            </div>
                            <div class="row-det">
                                <div class="det">Mary Thompson is to be called on 27 March, 2024 at 8AM</div>
                            </div>
                            <div class="row-det">
                                <div class="det">Created By: <span>Mark Bosly</span></div>
                                <div class="det">Date Created: <span>12 April, 2024</span></div>
                            </div>
                        </div>

                        <div class="activity-hld">
                            <div class="row-det">
                                <div class="det meeting">
                                    <span><i class="bi bi-calendar-week"></i> Scheduled Meeting</span>
                                </div>
                                <div class="det">23 April, 2024</div>
                            </div>
                            <div class="row-det">
                                <div class="det">Mary Thompson is to be called on 27 March, 2024 at 8AM</div>
                                <div class="det note">
                                    <div class="hdr">Note:</div>
                                    <p>Please ensure not to be too persuasive on the call.</p>
                                </div>
                            </div>
                            <div class="row-det">
                                <div class="det">Created By: <span>Mark Bosly</span></div>
                                <div class="det">Date Created: <span>12 April, 2024</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-card card-xsm" style="height: fit-content;">
                <div class="cont">
                    <div class="card-title">Contact History</div>
                    <div class="listed-items mt-lg-3">
                        <div class="item">
                            <!-- <div class="icon adobe"><i class="bi bi-file-earmark-pdf"></i></div> -->
                            <div class="content">
                                <div class="det">
                                    <div class="major">Contact was created</div>
                                    <div class="minor">25 October, 2019 at 7:35AM</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <!-- <div class="icon doc"><i class="bi bi-file-earmark-text"></i></div> -->
                            <div class="content">
                                <div class="det">
                                    <div class="major">Contact was onboarded by Nicholas Nelly</div>
                                    <div class="minor">26 October, 2019 at 8:32PM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>