<div class="menu-nav" [ngClass]="collapsed ? 'collapsed' : '' ">
    <div class="super-nav">
        <div class="menu-trigger-close flex-center">
            <span (click)="collapsed = !collapsed" *ngIf="!collapsed"><i class="bi bi-list"></i></span>
            <span *ngIf="userDetails.data.isSuperAdmin && collapsed" class="outward" (click)="collapsed = !collapsed"><mat-icon class="material-icons-round">chevron_right</mat-icon></span>
        </div>
        <ul class="menu-items">
            <li *ngFor="let item of adminMenuData">
                <a (click)="currentLink = item.label" [routerLink]="[item.routeLink]" [ngClass]="currentLink == item.label ? 'active' : '' ">
                    <i class="{{item.icon}}"></i>
                    <!-- <mat-icon class="material-icons-round">{{item.icon}}</mat-icon> -->
                    <!-- <span>{{item.label}}</span> -->
                </a>
            </li>

            <li>
                <a (click)="logout()" class="admin-logout">
                    <i class="bi bi-box-arrow-left"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="sub-nav">
        <div class="logo-container flex-center">
            <img src="../../../../assets/images/brand/silo-logo.svg" alt="silo-logo">
        </div>
        <div *ngIf="userDetails.data.isSuperAdmin" class="sub-nav-list">
            <div *ngFor="let item of adminMenuData" class="list-items">
                <ng-container *ngIf="currentLink == item.label">
                    <div class="list-header">{{item.label}}</div>
                    <ul class="list">
                        <li *ngFor="let link of item.subMenu">
                            <a [routerLink]="[link.routeLink]" routerLinkActive="active" >
                                <i class="{{link.icon}}"></i>
                                <!-- <mat-icon class="material-icons-round">{{item.icon}}</mat-icon> -->
                                <span>{{link.label}}</span>
                            </a>
                        </li>

                        <!-- <li (click)="logout()" class="logout">
                            <i class="bi bi-box-arrow-left"></i>
                            <span>Logout</span>
                        </li> -->
                        <li></li>
                    </ul>
                </ng-container>
            </div>            
        </div>

        <div *ngIf="!userDetails.data.isSuperAdmin && !userDetails.data.isManager" class="sub-nav-list">
            <div class="list-items">
                <ng-container>
                    <div class="list-header">General Menu</div>
                    <ul class="list">
                        <li *ngFor="let item of regMenuData" >
                            <a [routerLink]="[item.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                                <i class="{{item.icon}}"></i>
                                <!-- <mat-icon class="material-icons-round">{{item.icon}}</mat-icon> -->
                                <span>{{item.label}}</span>
                            </a>
                        </li>

                        <li (click)="logout()" class="logout">
                            <span>
                                <i class="bi bi-box-arrow-left"></i>
                            </span>
                            <span>Logout</span>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div> 
        
        <div *ngIf="!userDetails.data.isSuperAdmin && userDetails.data.isManager" class="sub-nav-list">
            <div class="list-items">
                <ng-container>
                    <div class="list-header">General Menu</div>
                    <ul class="list">
                        <li *ngFor="let item of managerMenuData" >
                            <a [routerLink]="[item.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                                <i class="{{item.icon}}"></i>
                                <!-- <mat-icon class="material-icons-round">{{item.icon}}</mat-icon> -->
                                <span>{{item.label}}</span>
                            </a>
                        </li>

                        <li (click)="logout()" class="logout">
                            <span>
                                <i class="bi bi-box-arrow-left"></i>
                            </span>   
                            <span>Logout</span>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div> 
    </div>
</div>
