<div class="menu-nav" [ngClass]="collapsed ? 'collapsed' : '' ">
    <div class="super-nav">
        <div class="menu-trigger-close flex-center">
            <span (click)="collapsed = !collapsed" *ngIf="!collapsed"><i class="bi bi-list"></i></span>
            <span class="outward" (click)="collapsed = !collapsed" *ngIf="collapsed"><mat-icon class="material-icons-round">chevron_right</mat-icon></span>
        </div>
        <ul class="menu-items">
            <li *ngFor="let item of menuData">
                <a (click)="currentLink = item.label" [routerLink]="[item.routeLink]" [ngClass]="currentLink == item.label ? 'active' : '' ">
                    <i class="{{item.icon}}"></i>
                    <!-- <mat-icon class="material-icons-round">{{item.icon}}</mat-icon> -->
                    <!-- <span>{{item.label}}</span> -->
                </a>
            </li>
        </ul>
    </div>
    <div class="sub-nav">
        <div class="logo-container flex-center">
            <img src="../../../../assets/images/brand/silo-logo.svg" alt="silo-logo">
        </div>
        <div class="sub-nav-list">
            <div *ngFor="let item of menuData" class="list-items">
                <ng-container *ngIf="currentLink == item.label">
                    <div class="list-header">{{item.label}}</div>
                    <ul class="list">
                        <li *ngFor="let link of item.subMenu">
                            <a [routerLink]="[link.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                                <i class="{{link.icon}}"></i>
                                <!-- <mat-icon class="material-icons-round">{{item.icon}}</mat-icon> -->
                                <span>{{link.label}}</span>
                            </a>
                        </li>
                    </ul>
                </ng-container>
            </div>
            
        </div>
    </div>
</div>
