<div class="content-wrap">
    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header">Payroll</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div (click)="addNewPayrollFile()" class="cta primary-bkg icon md">New Payroll</div>
        </div>
    </div>

    <div class="row-section mt-lg-4">
        <div class="inner-row-hld d-flex justify-content-between">
            
            <div class="row-card card-xlg card-yxl">
                <div class="cont">
                    <div class="col-card card-xxl">
                        <highcharts-chart
                            [Highcharts]="AreaHighcharts"
                            [options]="areaChartOptions"
                            style="width: 100%; max-width: 100%; height: 280px; display: block;"
                        >
                        </highcharts-chart>
                    </div>
                    <!-- <div class="donut-chart">
                        <div class="chart-title">
                            <span>14</span>
                            <span>Leave Balance <br> (Days)</span>
                        </div>
                        <highcharts-chart
                            [Highcharts]="PieHighcharts"
                            [options]="pieChartOptions"
                            style="width: auto; max-width: 100%; height: 250px; display: flex; align-items: center; justify-content: center; background: transparent;"
                        >
                        </highcharts-chart>
                    </div> -->
                </div>
            </div>

            <div class="row-card card-xsm card-yxl">
                <div class="col-card card-yxl d-flex flex-column justify-content-between align-items-center">
                    <div *ngFor="let item of payrollSummary" class="cont status-card d-flex flex-column justify-content-between card-xxl card-ymmd px-lg-4">
                        <div class="card-det d-flex align-items-center">
                            <div class="symbol" [ngStyle]="{'color': item.colorDark}"><i class="{{item.symbol}}"></i></div>
                            <div class="card-title reg">{{item.name}}</div>
                        </div>
                        <div class="card-det d-flex justify-content-between align-items mt-lg-1">
                            <span class="value">{{item.value}}</span>
                            <span class="arrow" [ngStyle]="{'color': item.colorDark, 'background': item.colorLight}"><i class="{{item.icon}}"></i>{{item.percentChange}}</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-card card-xxl mt-lg-3" style="height: 72.5%;">
                    <div class="cont">
                        <highcharts-chart
                            [Highcharts]="AreaHighcharts"
                            [options]="areaChartOptions"
                            style="width: 100%; max-width: 100%; height: 215px; display: block;"
                        >
                        </highcharts-chart>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="row-section mt-lg-3">
        <div class="table-wrap">

            <div class="inner-row hdr d-flex justify-content-start align-items-center">
                <div class="card-title">Payroll History</div>
                <div class="bulk-actions d-flex justify-content-between align-items-center">
                    <div class="dropdown-trigger"> Bulk Actions <i class="bi bi-chevron-down"></i></div>
                    <div class="cta primary-bkg sm ms-lg-2">Apply</div>
                </div>
            </div>

            <div class="inner-row">
                <table 
                    mat-table
                    [dataSource]="dataSource"
                    class="dataTable mat-elevation-z0"
                    matSort
                >

                    <!-- Table Columns -->
                    <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.label">

                        <ng-container *ngIf="column.key == 'payPeriod'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{column.label}}</th>
                            <td mat-cell *matCellDef="let row"> {{strToDate(row.startDate, 'startDate')}} - {{strToDate(row.endDate, 'endDate')}}</td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'status'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{column.label}}</th>
                            <td mat-cell 
                                *matCellDef="let row">
                                <span class="status approved" *ngIf="row[column.key] == 'Completed'">{{ row[column.key] }}</span>
                                <span class="status pending" *ngIf="row[column.key] == 'Pending'">{{ row[column.key] }}</span>
                                
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'actions'">
                            <th style="width:5%" mat-header-cell *matHeaderCellDef>
                            </th>
                            <td style="width:1%; white-space: nowrap; align-items: center;" mat-cell *matCellDef="let element">
                                <span (click)="viewPayrollDetails(element)" class="table-icon edit" style="font-size: 1rem;"><i class="bi bi-eye-fill"></i></span>
                                <span *ngIf="element.status == 'Pending'" (click)="deletePayrollPeriod(element)" class="table-icon delete ms-lg-3"><i class="bi bi-trash3-fill"></i></span>
                            </td>
                        </ng-container>

                        <ng-container>
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.key == 'image' || column.key == 'actions' ? "" : column.label }}</th>
                            <td mat-cell *matCellDef="let row">{{ row[column.key] }}</td>
                        </ng-container>
                        
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
                    
                </table>
            </div>
        </div>
        
    </div>
</div>