<div class="content-wrap">

    <div class="row-section d-flex justify-content-between align-items-center">
        <div class="page-header">Support Tickets ({{tableData.length}})</div>
        <div class="main-actions d-flex justify-content-start align-items-center">
            <div class="cta primary-bkg icon md"><i class="bi bi-ticket-detailed"></i>New Ticket</div>
            <div class="cta trans-bkg icon md ms-lg-3"><i class="bi bi-box-arrow-down"></i> Import</div>
            <div class="cta trans-bkg icon md ms-lg-3"><i class="bi bi-box-arrow-up"></i> Export</div>
        </div>
    </div>

    <!-- <div class="row-section mt-lg-4">
        <div class="table-wrap">
            <div class="inner-row d-flex justify-content-start align-items-center">
                <div class="search-bar">
                    <span class="icon"><i class="bi bi-search"></i></span>
                    <input type="text" placeholder="Search for a ticket">
                </div>

                <div class="filter-options">
                    <div class="filter-trigger"><i class="bi bi-filter"></i> Filter</div>
                </div>

                <div class="bulk-actions d-flex justify-content-between align-items-center">
                    <div [matMenuTriggerFor]="bulkOptions" class="dropdown-trigger"> Bulk Actions <i class="bi bi-chevron-down"></i></div>
                    <mat-menu #bulkOptions="matMenu" class="more">
                        <div class="menu-item" mat-menu-item>Assign Manager</div>
                        <div class="menu-item" mat-menu-item>Assign Approvers</div>
                    </mat-menu>
                    <div class="cta primary-bkg sm ms-lg-2">Apply</div>
                </div>
            </div>

            <div class="inner-row">
                <table 
                    mat-table
                    [dataSource]="dataSource"
                    class="dataTable lg mat-elevation-z0"
                    matSort
                >
                    <ng-container *ngFor="let column of tableColumns; let row" [matColumnDef]="column.label">

                        <ng-container *ngIf="column.key == 'image'">
                            <th style="width:5%" mat-header-cell *matHeaderCellDef></th>
                            <td style="width:1%; white-space: nowrap;" mat-cell *matCellDef="let row">
                                <span *ngIf="!row.applicantImage" class="initials">{{row.firstName[0] + row.lastName[0]}}</span>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'actions'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>
                            </th>
                            <td style="width:1%; white-space: nowrap;" mat-cell *matCellDef="let element">
                                <span (click)="viewDetails(element.id)" class="table-icon edit"><i class="bi bi-pen-fill"></i></span>
                                <span class="table-icon delete ms-lg-3"><i class="bi bi-trash3-fill"></i></span>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'ticketNo'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <div class="major">{{row.ticketNo}}</div>
                                <div class="minor mt-1">{{row.firstName + ' ' + row.lastName}}</div>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'priority'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef></th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <span class="active-status" [class]="row.priority"></span>
                            </td>
                        </ng-container>

                        <ng-container *ngIf="column.key == 'status'">
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
                            <td style="white-space: nowrap;" mat-cell *matCellDef="let row">
                                <span class="status approved" *ngIf="row[column.key] == 'completed'">Resolved</span>
                                <span class="status pending" *ngIf="row[column.key] == 'investigating'">In Progress</span>
                                <span class="status warning" *ngIf="row[column.key] == 'pending'">Pending</span>
                            </td>
                        </ng-container>

                        <ng-container>
                            <th [style.width]="column.columnWidth" mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.key == 'image' || column.key == 'actions' ? "" : column.label }}</th>
                            <td mat-cell *matCellDef="let row">{{ row[column.key] }}</td>
                        </ng-container>
                        
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let emprow; columns: displayedColumns">
                    </tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                            <div class="empty-data">
                                <img src="../../../../assets/images/illustrations/empty1.png" alt=""/>
                                <div class="text">No attendance records were found.</div>
                            </div>
                        </td>
                    </tr>
                    
                </table>
            </div>

            
        </div>
        
    </div> -->

    <div style="flex:none;" class="row-section mt-lg-4">
        <div class="tab-wrap">
            <ul class="tab-list">
                <li>
                    <a [class.active]="ticketsInView == 'all'" (click)="ticketsInView = 'all'">
                        <span>All Tickets</span>
                        <span>3</span>
                    </a>
                </li>
                <li>
                    <a [class.active]="ticketsInView == 'pending'" (click)="ticketsInView = 'pending'">
                        <span>Pending</span>
                        <span>1</span>
                    </a>
                </li>

                <li>
                    <a [class.active]="ticketsInView == 'investigating'" (click)="ticketsInView = 'investigating'">
                        <span>In Progress</span>
                        <span>1</span>
                    </a>
                </li>

                <li>
                    <a [class.active]="ticketsInView == 'completed'" (click)="ticketsInView = 'completed'">
                        <span>Resolved</span>
                        <span>1</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-section mt-lg-4">
        <div class="inner-row w-100 d-flex justify-content-between mt-lg-2">

            <div class="tickets-wrap">
                <div *ngFor="let ticket of tableData" class="ticket-card {{ticket.status}}">
                    <div class="inner-wrap">
                        <div class="row-det">
                            <span class="active-status" [class]="ticket.priority"></span>
                            <span>#{{ticket.ticketNo}}</span>
                            <span class="status text-capitalize {{ticket.status}}">{{ticket.status}}</span>
                        </div>
                        <div class="row-det">
                            <span class="title">{{ticket.ticketTitle}}</span>
                            <div class="details">
                                <p>{{ticket.ticketDetails}}</p>
                            </div>
                        </div>
                        <div class="row-det">
                            <div class="image">
                                <!-- <span *ngIf="!row.applicantImage" class="initials">Gustavo Calzoni</span> -->
                                <span class="card-img bkg-standard" style="background-image: url('./assets/images/illustrations/{{ticket.contactImage}}');"></span>
                            </div>
                            <div class="info">
                                <div class="name">{{ticket.firstName}} {{ticket.lastName}}</div>
                                <div class="email">{{ticket.email}}</div>
                                <div class="phone">{{ticket.phone}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tickets-creation">

            </div>

            
        </div>
    </div>
</div>